@media screen and (max-width: 1038px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    header nav #burger {
      display: block; }
    header nav #logo {
      display: none; }
    header nav .menu-top {
      display: none; }
      header nav .menu-top .down {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        header nav .menu-top .down a {
          margin-right: 0px;
          margin-top: 8px; }
        header nav .menu-top .down button {
          display: block;
          margin-top: 10px;
          width: 100px; }
  .none {
    display: none; } }

.menu-top.responsive {
  display: block; }

#burger {
  font-size: 30px;
  color: #fff;
  display: none;
  border: none;
  background: none;
  cursor: pointer; }

#btnLng, #btnLngENG, #btnLngUA {
  background: #F8CE00;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  font-weight: bold; }

#btnLng:hover, #btnLngENG:hover, #btnLngUA:hover {
  color: #000; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  height: 50px; }
  .modal-content #btnLngENG {
    margin-right: 10px; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

* {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.wrapper {
  overflow: hidden; }

.animate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-header {
  background: url(../images/header-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top top; }
  .section-header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 40px 0px;
    z-index: 100; }
    .section-header nav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .section-header nav a h1 {
        font-size: 40px;
        color: #fff;
        display: block; }
    .section-header nav .active {
      color: #ddd;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      border-bottom: 3px solid #F8CE00;
      padding-bottom: 5px; }
    .section-header nav #logo img {
      width: 90px;
      height: auto; }
    .section-header nav .down {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .section-header nav .down a {
        margin-right: 40px;
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
      .section-header nav .down a:hover {
        color: #ddd;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        border-bottom: 3px solid #F8CE00;
        padding-bottom: 5px; }
      .section-header nav .down a:last-child {
        margin-right: 0px; }

main {
  font-family: Roboto Medium, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  main .about {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 49px 0px;
    background: #F8F5F5; }
    main .about .container-documents {
      width: 60%;
      text-align: left;
      padding: 20px; }
      main .about .container-documents ul li {
        list-style: disc;
        margin-bottom: 10px; }
        main .about .container-documents ul li a {
          color: #001;
          -webkit-transition: .3s all;
          -o-transition: .3s all;
          transition: .3s all; }
        main .about .container-documents ul li a:hover {
          color: #B18700; }
        main .about .container-documents ul li a:link {
          color: #B18700; }
    main .about h2 {
      font-size: 38px;
      text-transform: uppercase;
      color: #777777; }
    main .about .line {
      height: 5px;
      width: 120px;
      background: #F8CE00;
      margin: 5px 0px 35px 0px; }
    main .about .contant-about {
      width: 80%; }
      main .about .contant-about ul {
        padding-left: 100px;
        margin-bottom: 10px; }
        main .about .contant-about ul li {
          text-align: left;
          line-height: 1.5;
          font-size: 18px;
          padding-top: 5px;
          list-style: disc; }
      main .about .contant-about p {
        margin-bottom: 10px;
        line-height: 1.5;
        color: #1b272b;
        text-align: left;
        font-size: 18px;
        text-indent: 35px; }
      main .about .contant-about p:last-child {
        margin-bottom: 0px; }
    main .about .container-poligon {
      width: 80%;
      margin-top: 17px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 29px;
      background: #fff; }
      main .about .container-poligon .text-poligon {
        margin-left: 17px; }
        main .about .container-poligon .text-poligon p {
          text-align: left;
          font-size: 18px;
          line-height: 1.5;
          color: #1b272b; }
        main .about .container-poligon .text-poligon ul {
          padding-left: 40px;
          margin-bottom: 10px; }
          main .about .container-poligon .text-poligon ul li {
            text-align: left;
            line-height: 1.5;
            font-size: 18px;
            padding-top: 5px;
            list-style: disc; }
    main .about .contant-about {
      margin: 20px 0; }
      main .about .contant-about .text-offer ul {
        padding-left: 36px; }
        main .about .contant-about .text-offer ul li {
          list-style: disc; }
      main .about .contant-about .text-offer p {
        font-size: 18px;
        line-height: 1.5;
        color: #1b272b;
        text-indent: 0px; }
        main .about .contant-about .text-offer p i {
          color: #ff0000; }
    main .about .container-iac {
      padding: 20px;
      background: #fff; }
      main .about .container-iac .box-npp:first-child {
        margin-bottom: 20px; }
        main .about .container-iac .box-npp:first-child img {
          margin-right: 20px; }
        main .about .container-iac .box-npp:first-child img:last-child {
          margin-right: 0;
          -webkit-transition: 2s;
          -o-transition: 2s;
          transition: 2s; }
      main .about .container-iac .box-npp:last-child img {
        -webkit-transition: 2.5s;
        -o-transition: 2.5s;
        transition: 2.5s;
        margin-right: 20px; }
      main .about .container-iac .box-npp:last-child img:nth-child(2) {
        -webkit-transition: 3s;
        -o-transition: 3s;
        transition: 3s; }
      main .about .container-iac .box-npp:last-child img:last-child {
        -webkit-transition: 3.5s;
        -o-transition: 3.5s;
        transition: 3.5s;
        margin-right: 0; }
    main .about .sert {
      width: 80%;
      padding: 40px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; }
      main .about .sert h2 {
        font-size: 38px;
        text-transform: uppercase;
        color: #777777; }
      main .about .sert .line {
        height: 5px;
        width: 120px;
        background: #F8CE00;
        margin: 5px 0px 35px 0px; }
      main .about .sert .sert-info p {
        margin-bottom: 10px;
        line-height: 1.5;
        color: #1b272b;
        text-align: left;
        font-size: 18px;
        text-indent: 35px; }
      main .about .sert .sertification {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        position: relative;
        background: #fff;
        padding: 20px; }
        main .about .sert .sertification .coin img {
          width: 350px;
          height: auto; }
        main .about .sert .sertification .coin img {
          margin-right: 50px; }
        main .about .sert .sertification .coin:last-child img {
          margin-right: 0px;
          -webkit-transition: 3s;
          -o-transition: 3s;
          transition: 3s; }

footer {
  background: #2d2d2d;
  color: #fff;
  font-family: Roboto, sans-serif;
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%; }

@media screen and (max-width: 700px) {
  main .about .contant-about ul {
    padding-left: 40px; }
    main .about .contant-about ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main .about .contant-about p {
    font-size: 16px;
    text-align: left;
    text-indent: 0px; } }

@media screen and (max-width: 782px) {
  main .about .contant-about ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main .about .contant-about ul {
    padding-left: 20px; }
    main .about .contant-about ul li {
      font-size: 14px; }
  main .about .contant-about p {
    text-indent: 0px; } }

@media screen and (max-width: 1327px) {
  main .container-poligon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .container-poligon img {
      width: 50%;
      height: auto; }
    main .container-poligon .text-poligon {
      margin-left: 0;
      margin-top: 17px; } }

@media screen and (max-width: 727px) {
  main .container-poligon {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .container-poligon img {
      width: 80%;
      height: auto; }
    main .container-poligon #poligon p {
      font-size: 16px; }
    main .container-poligon #poligon ul {
      padding-left: 0px; }
      main .container-poligon #poligon ul li {
        font-size: 16px; } }

@media screen and (max-width: 1364px) {
  main .container-iac .box-npp img:last-child {
    margin-top: 20px; } }

@media screen and (max-width: 1106px) {
  main .container-iac .box-npp img:nth-child(2) {
    margin-right: 0; } }

@media screen and (max-width: 900px) {
  main .container-iac .box-npp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  main .container-iac .box-npp:first-child img:first-child {
    margin-bottom: 20px;
    margin-right: 0px; }
  main .container-iac .box-npp:first-child img:nth-child(2) {
    margin-right: 0px; }
  main .container-iac .box-npp:last-child img:first-child {
    margin-bottom: 20px;
    margin-right: 0px; }
  main .container-iac .box-npp:last-child img:nth-child(2) {
    margin-right: 0px; } }

@media screen and (max-width: 440px) {
  main .container-iac .box-npp img {
    width: 100%;
    height: auto; } }

@media screen and (max-width: 1208px) {
  main .sert .sertification {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    main .sert .sertification .coin:first-child img {
      margin-right: 0px; }
    main .sert .sertification .coin:nth-child(2) img {
      margin-right: 0px; }
    main .sert .sertification .coin {
      margin-bottom: 20px; }
    main .sert .sertification .coin:last-child {
      margin-bottom: 0px; } }

@media screen and (max-width: 1228px) {
  main .sert .sert-info p {
    text-indent: 0;
    text-align: center; } }

@media screen and (max-width: 700px) {
  main .about .sert .sert-info p {
    font-size: 16px;
    text-align: center;
    text-indent: 0px; } }

@media screen and (max-width: 500px) {
  main .about .sert .sert-info p {
    text-indent: 0px; } }

@media screen and (max-width: 1202px) {
  main .about .sert .sertification .coin img {
    width: 200px; } }

@media screen and (max-width: 756px) {
  main .about .sert .sertification {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .about .sert .sertification .coin img {
      margin-right: 0px;
      margin-bottom: 20px; }
    main .about .sert .sertification .coin:last-child img {
      margin-bottom: 0px; } }

@media screen and (max-width: 400px) {
  main .about .sert .sert-info p {
    font-size: 15px; } }

@media screen and (max-width: 1360px) {
  main .about .container-documents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .about .container-documents img:first-child {
      margin-bottom: 20px;
      margin-right: 0px; } }

@media screen and (max-width: 700px) {
  main .about .container-documents {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .about .container-documents img {
      width: 100%;
      height: auto; } }
