@media screen and (max-width: 700px) {
  main .about .contant-about ul {
    padding-left: 40px; }
    main .about .contant-about ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main .about .contant-about p {
    font-size: 16px;
    text-align: center;
    text-indent: 0px; } }

@media screen and (max-width: 782px) {
  main .about .contant-about ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main .about .contant-about ul {
    padding-left: 20px; }
    main .about .contant-about ul li {
      font-size: 14px; }
  main .about .contant-about p {
    text-indent: 0px; } }
