@media screen and (max-width: 950px) {
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    header nav #burger {
      display: block; }
    header nav #logo {
      display: none; }
    header nav .menu-top {
      display: none; }
      header nav .menu-top .down {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        header nav .menu-top .down a {
          margin-right: 0px;
          margin-top: 8px; }
  .none {
    display: none; } }

.menu-top.responsive {
  display: block; }

#burger {
  font-size: 30px;
  color: #fff;
  display: none;
  border: none;
  background: none;
  cursor: pointer; }

.wrapper {
  overflow: hidden; }

header {
  background: url(../images/header-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%; }
  header nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 40px 0px;
    z-index: 100; }
    header nav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header nav a h1 {
        font-size: 40px;
        color: #fff;
        display: block; }
    header nav #logo img {
      width: 200px;
      height: auto; }
    header nav .down {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header nav .down a {
        margin-right: 40px;
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
      header nav .down a:hover {
        color: #ddd;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        border-bottom: 3px solid #F8CE00;
        padding-bottom: 5px; }
      header nav .down a:last-child {
        margin-right: 0px; }
  header .text {
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-family: Roboto Regular, sans-serif; }
    header .text h2 {
      font-size: 30px;
      color: #2d2d2d;
      margin-bottom: 10px;
      -webkit-animation: splash 2s normal forwards ease-in-out;
      animation: splash 2s normal forwards ease-in-out; }
    header .text h1 {
      font-size: 48px;
      -webkit-animation: splash 2s normal forwards ease-in-out;
      animation: splash 2s normal forwards ease-in-out; }

.icon {
  font-size: 35px;
  color: #fff;
  display: none; }

@-webkit-keyframes splash {
  from {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes splash {
  from {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@media screen and (max-width: 700px) {
  header .text h2 {
    font-size: 23px; }
  header .text h1 {
    font-size: 36px; } }

@media screen and (max-width: 480px) {
  header .text h2 {
    font-size: 18px; }
  header .text h1 {
    font-size: 30px; } }

@media screen and (max-width: 370px) {
  header .text h2 {
    font-size: 16px; }
  header .text h1 {
    font-size: 25px; } }

@media screen and (max-width: 700px) {
  main #about .contant-about ul {
    padding-left: 40px; }
    main #about .contant-about ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main #about .contant-about p {
    font-size: 16px;
    text-align: center;
    text-indent: 0px; } }

@media screen and (max-width: 782px) {
  main #about .contant-about ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main #about .contant-about ul {
    padding-left: 20px; }
    main #about .contant-about ul li {
      font-size: 14px; }
  main #about .contant-about p {
    text-indent: 0px; } }

@media screen and (max-width: 700px) {
  main #services .marker ul {
    padding-left: 40px; }
    main #services .marker ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main #services .marker p {
    text-indent: 0px;
    font-size: 16px;
    text-align: center; } }

@media screen and (max-width: 782px) {
  main #services .marker ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main #services .marker ul {
    padding-left: 20px; }
    main #services .marker ul li {
      list-style: disc;
      font-size: 14px; }
  main #services .marker p {
    text-indent: 0px; } }

@media screen and (max-width: 700px) {
  main #partners .partof ul {
    padding-left: 40px; }
    main #partners .partof ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main #partners .partof p {
    text-indent: 0px;
    font-size: 16px;
    text-align: center; } }

@media screen and (max-width: 782px) {
  main #partners .partof ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main #partners .partof ul {
    padding-left: 20px; }
    main #partners .partof ul li {
      list-style: disc;
      font-size: 14px; } }

@media screen and (max-width: 1420px) {
  main #partners .images {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (max-width: 1395px) {
  main #partners .images .container-img:last-child {
    margin-top: 20px; } }

@media screen and (max-width: 799px) {
  main #partners .images .container-img:last-child img:last-child {
    margin-top: 20px; } }

@media screen and (max-width: 627px) {
  main #partners .images .container-img:last-child img:nth-child(2) {
    margin-right: 0px; } }

@media screen and (max-width: 612px) {
  main #partners .images .container-img:first-child img:last-child {
    margin-top: 20px; } }

@media screen and (max-width: 531px) {
  main #partners .images .container-img:first-child img:nth-child(2) {
    margin-right: 0px; }
  main #partners .images .container-img:last-child img:nth-child(2) {
    margin-top: 20px;
    margin-right: 5px; } }

@media screen and (max-width: 451px) {
  main #partners .images .container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main #partners .images .container-img img {
      margin-right: 0px;
      margin-bottom: 20px; }
  main #partners .images .container-img:last-child img:last-child {
    margin-bottom: 0px; } }

@media screen and (max-width: 634px) {
  main .vacation .vacs p {
    text-align: center;
    font-size: 16px;
    text-align: center; }
  main .vacation .vacs ul {
    padding-left: 20px; }
    main .vacation .vacs ul li {
      font-size: 16px;
      padding-top: 5px; } }

@media screen and (max-width: 500px) {
  main .vacation .vacs ul li {
    list-style: disc;
    font-size: 14px; } }

@media screen and (max-width: 1024px) {
  main .contact .down-information {
    width: 100%; }
    main .contact .down-information .information {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      main .contact .down-information .information .info-text {
        text-align: center;
        margin-bottom: 20px; }
      main .contact .down-information .information form {
        width: 80%; }
        main .contact .down-information .information form .name input[type="text"], main .contact .down-information .information form .number input[type="text"], main .contact .down-information .information form .email-in input[type="email"] {
          width: 300px; }
        main .contact .down-information .information form .text-area textarea {
          width: 300px; } }

@media screen and (max-width: 351px) {
  main .contact .down-information .information form {
    width: 100%; }
    main .contact .down-information .information form .name input[type="text"], main .contact .down-information .information form .number input[type="text"], main .contact .down-information .information form .email-in input[type="email"] {
      width: 200px; }
    main .contact .down-information .information form .text-area textarea {
      width: 200px; } }

@media screen and (max-width: 700px) {
  header .text h2 {
    font-size: 23px; }
  header .text h1 {
    font-size: 36px; } }

@media screen and (max-width: 480px) {
  header .text h2 {
    font-size: 18px; }
  header .text h1 {
    font-size: 30px; } }

@media screen and (max-width: 370px) {
  header .text h2 {
    font-size: 16px; }
  header .text h1 {
    font-size: 25px; } }

@media screen and (max-width: 700px) {
  main #about .contant-about ul {
    padding-left: 40px; }
    main #about .contant-about ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main #about .contant-about p {
    font-size: 16px;
    text-align: center;
    text-indent: 0px; } }

@media screen and (max-width: 782px) {
  main #about .contant-about ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main #about .contant-about ul {
    padding-left: 20px; }
    main #about .contant-about ul li {
      font-size: 14px; }
  main #about .contant-about p {
    text-indent: 0px; } }

@media screen and (max-width: 700px) {
  main #services .marker ul {
    padding-left: 40px; }
    main #services .marker ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main #services .marker p {
    text-indent: 0px;
    font-size: 16px;
    text-align: center; } }

@media screen and (max-width: 782px) {
  main #services .marker ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main #services .marker ul {
    padding-left: 20px; }
    main #services .marker ul li {
      list-style: disc;
      font-size: 14px; }
  main #services .marker p {
    text-indent: 0px; } }

@media screen and (max-width: 700px) {
  main #partners .partof ul {
    padding-left: 40px; }
    main #partners .partof ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main #partners .partof p {
    text-indent: 0px;
    font-size: 16px;
    text-align: center; } }

@media screen and (max-width: 782px) {
  main #partners .partof ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main #partners .partof ul {
    padding-left: 20px; }
    main #partners .partof ul li {
      list-style: disc;
      font-size: 14px; } }

@media screen and (max-width: 1420px) {
  main #partners .images {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (max-width: 1395px) {
  main #partners .images .container-img:last-child {
    margin-top: 20px; } }

@media screen and (max-width: 799px) {
  main #partners .images .container-img:last-child img:last-child {
    margin-top: 20px; } }

@media screen and (max-width: 627px) {
  main #partners .images .container-img:last-child img:nth-child(2) {
    margin-right: 0px; } }

@media screen and (max-width: 612px) {
  main #partners .images .container-img:first-child img:last-child {
    margin-top: 20px; } }

@media screen and (max-width: 531px) {
  main #partners .images .container-img:first-child img:nth-child(2) {
    margin-right: 0px; }
  main #partners .images .container-img:last-child img:nth-child(2) {
    margin-top: 20px;
    margin-right: 5px; } }

@media screen and (max-width: 451px) {
  main #partners .images .container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main #partners .images .container-img img {
      margin-right: 0px;
      margin-bottom: 20px; }
  main #partners .images .container-img:last-child img:last-child {
    margin-bottom: 0px; } }

@media screen and (max-width: 634px) {
  main .vacation .vacs p {
    text-align: center;
    font-size: 16px;
    text-align: center; }
  main .vacation .vacs ul {
    padding-left: 20px; }
    main .vacation .vacs ul li {
      font-size: 16px;
      padding-top: 5px; } }

@media screen and (max-width: 500px) {
  main .vacation .vacs ul li {
    list-style: disc;
    font-size: 14px; } }

@media screen and (max-width: 1024px) {
  main .contact .down-information {
    width: 100%; }
    main .contact .down-information .information {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      main .contact .down-information .information .info-text {
        text-align: center;
        margin-bottom: 20px; }
      main .contact .down-information .information form {
        width: 80%; }
        main .contact .down-information .information form .name input[type="text"], main .contact .down-information .information form .number input[type="text"], main .contact .down-information .information form .email-in input[type="email"] {
          width: 300px; }
        main .contact .down-information .information form .text-area textarea {
          width: 300px; } }

@media screen and (max-width: 351px) {
  main .contact .down-information .information form {
    width: 100%; }
    main .contact .down-information .information form .name input[type="text"], main .contact .down-information .information form .number input[type="text"], main .contact .down-information .information form .email-in input[type="email"] {
      width: 200px; }
    main .contact .down-information .information form .text-area textarea {
      width: 200px; } }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .wrapper main {
    font-family: Roboto Medium, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .wrapper main .about {
      text-align: center;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 40px 0px;
      background: #F8F5F5; }
      .wrapper main .about h2 {
        opacity: 0;
        font-size: 38px;
        text-transform: uppercase;
        color: #777777;
        -webkit-transition: 1.2s;
        -o-transition: 1.2s;
        transition: 1.2s;
        margin-left: 40%; }
      .wrapper main .about .line {
        opacity: 0;
        height: 5px;
        width: 120px;
        background: #F8CE00;
        margin: 5px 0px 35px 0px;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
        margin-left: 40%; }
      .wrapper main .about .contant-about {
        width: 80%;
        -webkit-transition: 1.4s;
        -o-transition: 1.4s;
        transition: 1.4s;
        opacity: 0; }
        .wrapper main .about .contant-about ul {
          padding-left: 100px; }
          .wrapper main .about .contant-about ul li {
            text-align: left;
            line-height: 1.5;
            font-size: 18px;
            padding-top: 5px;
            list-style: disc; }
        .wrapper main .about .contant-about p {
          margin-bottom: 10px;
          line-height: 1.5;
          color: #1b272b;
          text-align: left;
          font-size: 18px;
          text-indent: 35px; }
        .wrapper main .about .contant-about p:last-child {
          margin-bottom: 0px; }
      .wrapper main .about input[type="button"] {
        cursor: pointer;
        border-radius: 10px;
        color: #000;
        padding: 12px 32px;
        text-align: center;
        border: 2px solid #F8C734;
        font-size: 16px;
        text-transform: uppercase;
        font-family: Roboto, sans-serif;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        background: #fff;
        margin-top: 35px;
        opacity: 0;
        -webkit-transition: 1.2s;
        -o-transition: 1.2s;
        transition: 1.2s; }
      .wrapper main .about input[type="button"]:hover {
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        color: #fff;
        background: #F8C734; }
    .wrapper main .services {
      text-align: center;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 40px 0px;
      background: #fff; }
      .wrapper main .services h2 {
        font-size: 38px;
        text-transform: uppercase;
        color: #777777;
        opacity: 0;
        -webkit-transition: 1.2s;
        -o-transition: 1.2s;
        transition: 1.2s;
        margin-right: 40%; }
      .wrapper main .services .line {
        opacity: 0;
        height: 5px;
        width: 120px;
        background: #F8CE00;
        margin: 5px 0px 35px 0px;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
        margin-right: 40%; }
      .wrapper main .services .marker {
        width: 80%;
        opacity: 0;
        -webkit-transition: 1.4s;
        -o-transition: 1.4s;
        transition: 1.4s; }
        .wrapper main .services .marker ul {
          padding-left: 100px; }
          .wrapper main .services .marker ul li {
            list-style: disc;
            text-align: left;
            line-height: 1.5;
            font-size: 18px;
            padding-top: 10px; }
        .wrapper main .services .marker p {
          margin-bottom: 10px;
          line-height: 1.5;
          color: #1b272b;
          text-align: left;
          font-size: 18px;
          text-indent: 35px; }
        .wrapper main .services .marker p:last-child {
          margin-top: 10px; }
    .wrapper main .partners {
      text-align: center;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 40px 0px;
      background: #F8F5F5; }
      .wrapper main .partners h2 {
        font-size: 38px;
        text-transform: uppercase;
        color: #777777;
        opacity: 0;
        -webkit-transition: 1.2s;
        -o-transition: 1.2s;
        transition: 1.2s;
        margin-left: 40%; }
      .wrapper main .partners .line {
        height: 5px;
        width: 120px;
        background: #F8CE00;
        margin: 5px 0px 35px 0px;
        opacity: 0;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
        margin-left: 40%; }
      .wrapper main .partners .partof {
        width: 80%;
        opacity: 0;
        -webkit-transition: 1.4s;
        -o-transition: 1.4s;
        transition: 1.4s; }
        .wrapper main .partners .partof ul {
          padding-left: 100px; }
          .wrapper main .partners .partof ul li {
            text-align: left;
            line-height: 1.5;
            font-size: 18px;
            padding-top: 10px;
            list-style: disc; }
        .wrapper main .partners .partof p {
          margin-bottom: 10px;
          line-height: 1.5;
          color: #1b272b;
          text-align: left;
          font-size: 18px;
          text-indent: 35px; }
      .wrapper main .partners .images {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 30px; }
        .wrapper main .partners .images .container-img img {
          opacity: 0;
          margin-right: 40px; }
        .wrapper main .partners .images .container-img:first-child img:first-child {
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
        .wrapper main .partners .images .container-img:first-child img:nth-child(2) {
          -webkit-transition: 2s;
          -o-transition: 2s;
          transition: 2s; }
        .wrapper main .partners .images .container-img:first-child img:last-child {
          -webkit-transition: 3s;
          -o-transition: 3s;
          transition: 3s; }
        .wrapper main .partners .images .container-img:last-child img:first-child {
          -webkit-transition: 4s;
          -o-transition: 4s;
          transition: 4s; }
        .wrapper main .partners .images .container-img:last-child img:nth-child(2) {
          -webkit-transition: 5s;
          -o-transition: 5s;
          transition: 5s; }
        .wrapper main .partners .images .container-img:last-child img:last-child {
          -webkit-transition: 6s;
          -o-transition: 6s;
          transition: 6s;
          margin-right: 0px; }

@media screen and (max-width: 700px) {
  main .about .contant-about ul {
    padding-left: 40px; }
    main .about .contant-about ul li {
      text-align: left;
      line-height: 1.5;
      font-size: 16px;
      padding-top: 5px; }
  main .about .contant-about p {
    font-size: 16px;
    text-align: center;
    text-indent: 0px; } }

@media screen and (max-width: 782px) {
  main .about .contant-about ul {
    padding-left: 5%; } }

@media screen and (max-width: 500px) {
  main .about .contant-about ul {
    padding-left: 20px; }
    main .about .contant-about ul li {
      font-size: 14px; }
  main .about .contant-about p {
    text-indent: 0px; } }

footer {
  background: #2d2d2d;
  color: #fff;
  font-family: Roboto, sans-serif;
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%; }

.contact {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 0px;
  background: #F8F5F5; }
  .contact h2 {
    opacity: 0;
    font-size: 38px;
    text-transform: uppercase;
    color: #777777;
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    margin-left: 40%; }
  .contact .line {
    opacity: 0;
    height: 5px;
    width: 120px;
    background: #F8CE00;
    margin: 5px 0px 35px 0px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin-left: 40%; }
  .contact .down-information {
    opacity: 0;
    -webkit-transition: 1.4s;
    -o-transition: 1.4s;
    transition: 1.4s;
    width: 85%; }
    .contact .down-information #map {
      width: 100%;
      height: 350px;
      z-index: 1; }
    .contact .down-information .information {
      width: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-top: 30px; }
      .contact .down-information .information .info-text {
        text-align: left;
        font-size: 18px; }
        .contact .down-information .information .info-text p p {
          margin-bottom: 10px;
          line-height: 1.5;
          color: #1b272b;
          font-size: 18px; }
        .contact .down-information .information .info-text .adress {
          margin-bottom: 20px; }
          .contact .down-information .information .info-text .adress p:first-child {
            font-weight: bold; }
        .contact .down-information .information .info-text .numbers {
          margin-bottom: 20px; }
          .contact .down-information .information .info-text .numbers p:first-child {
            font-weight: bold; }
        .contact .down-information .information .info-text .email p:first-child {
          font-weight: bold; }
      .contact .down-information .information form {
        width: 455px; }
        .contact .down-information .information form .name input[type="text"], .contact .down-information .information form .number input[type="text"], .contact .down-information .information form .email-in input[type="email"] {
          padding: 10px;
          border: 2px solid #F8CE00;
          border-radius: 30px;
          width: 500px;
          font-size: 18px;
          margin-bottom: 11px; }
        .contact .down-information .information form .text-area textarea {
          width: 100%;
          height: 150px;
          padding: 10px;
          margin-bottom: 10px;
          border: 2px solid #F8CE00;
          border-radius: 20px;
          width: 500px;
          font-size: 18px;
          font-family: Roboto Regular, sans-serif; }
        .contact .down-information .information form .btn input[type="submit"] {
          padding: 12px 32px;
          border: 2px solid #F8CE00;
          text-transform: uppercase;
          border-radius: 10px;
          background: #fff;
          cursor: pointer;
          float: left;
          font-size: 15px;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s; }
        .contact .down-information .information form .btn input[type="submit"]:hover {
          background: #F8CE00;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          color: #fff; }

.vacation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0px;
  background: #fff; }
  .vacation h2 {
    font-size: 38px;
    text-transform: uppercase;
    color: #777777;
    opacity: 0;
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    margin-right: 40%; }
  .vacation .line {
    opacity: 0;
    height: 5px;
    width: 120px;
    background: #F8CE00;
    margin: 5px 0px 35px 0px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin-right: 40%; }
  .vacation .vacs {
    opacity: 0;
    -webkit-transition: 1.4s;
    -o-transition: 1.4s;
    transition: 1.4s;
    width: 80%;
    text-align: left; }
    .vacation .vacs ul {
      padding-left: 100px; }
      .vacation .vacs ul li {
        list-style-image: url(../images/arrows.png);
        line-height: 1.5;
        font-size: 18px;
        padding-bottom: 10px; }
    .vacation .vacs p {
      margin-bottom: 10px;
      line-height: 1.5;
      color: #1b272b;
      text-align: left;
      font-size: 18px; }
    .vacation .vacs p:last-child {
      font-weight: normal; }

* {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }
