@media screen and (max-width: 1038px) {
	header {
		nav {
			flex-direction: column;
			#burger {
				display: block;
			}
			#logo {
				display: none;
			}
			.menu-top {
				display: none;
				.down {
					justify-content: center;
					align-items: center;
					flex-direction: column;

					a {
						margin-right: 0px;
						margin-top: 8px;
					}

					button {
						display: block;
						margin-top: 10px;
						width: 100px;
					}
				}
			}
		}
	}

	.none {
		display: none;
	}
}

.menu-top.responsive {
	display: block;
}

#burger {
	font-size: 30px;
	color: #fff;
	display: none;
	border: none;
	background: none;
	cursor: pointer;
}