.contact {
		text-align: center;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 40px 0px;
		background: #F8F5F5;

		h2 {
			font-size: 38px;
			text-transform: uppercase;
			color: #777777;
		}
			
			.line {
				height: 5px;
				width: 120px;
				background: #F8CE00;
				margin: 5px 0px 35px 0px;
			}

		.down-information {
			width: 80%;

			#map {
				width: 100%;
				height: 350px;
				z-index: 1;
			}

			.information {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 30px;

			.info-text {
				text-align: left;
				font-size: 18px;
				p {
					p {
						margin-bottom: 10px;
						line-height: 1.5;
						color: #1b272b;
						font-size: 18px;
					}
				}
				.adress {
					margin-bottom: 20px;
					p:first-child {
						font-weight: bold;
					}
				}

				.numbers {
					margin-bottom: 20px;
					p:first-child {
						font-weight: bold;
					}
				}

				.email {
					p:first-child {
						font-weight: bold;
					}
				}
			}

			form {
				.name input[type="text"], .number input[type="text"], .email-in input[type="email"] {
					padding: 10px;
					border: 2px solid #F8CE00;
					border-radius: 30px;
					width: 500px;
					font-size: 18px;
					margin-bottom: 11px;
					outline: none;
				}

				.text-area textarea {
					width: 100%;
					height: 150px;
					padding: 10px;
					margin-bottom: 10px;
					border: 2px solid #F8CE00;
					border-radius: 20px;
					width: 500px;
					font-size: 18px;
  					font-family: Roboto Regular, sans-serif;
  					outline: none;
				}
				
				.btn input[type="submit"] {
					padding: 12px 32px;
					border: 2px solid #F8CE00;
					text-transform: uppercase;
					border-radius: 30px;
					background: #F8CE00;
					cursor: pointer;
					float: left;
					font-size: 15px;
					transition: .4s;
					color: #fff;
				}
				.btn input[type="submit"]:hover {
					background: #fff;
					transition: .4s;
					color: #000;
					outline: none;
				}
			}
		}
		}
		
	}