footer {
	background: #2d2d2d;
	color: #fff;
	font-family: Roboto, sans-serif;
	padding: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	p:last-child {
		font-size: 14px;
		margin-top: 10px;
	}
}