@import "media.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	main {
			font-family: Roboto Medium, sans-serif;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;



		.about {
			text-align: center;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 40px 0px;
			background: #F8F5F5;

			h2 {
				font-size: 38px;
				text-transform: uppercase;
				color: #777777;
			
			}
				
				.line {
				
					height: 5px;
					width: 120px;
					background: #F8CE00;
					margin: 5px 0px 35px 0px;
				
				}

			.contant-about {
				width: 80%;
				transition: 1s;
				ul {
					padding-left: 100px;
					li {
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 5px;
						list-style: disc;
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}

				p:last-child {
					margin-bottom: 0px;
				}
			}

			input[type="button"] {
				color: #fff;
				background: #F8C734;
				cursor: pointer;
				border-radius: 30px;
				padding: 12px 32px;
	  			text-align: center;
	  			border: 2px solid #F8C734;
	  			font-size: 16px;
	  			text-transform: uppercase;
	  			font-family: Roboto, sans-serif;
	  			transition: .3s all;
	  			margin-top: 35px;
	  			outline: none;
			}

			input[type="button"]:hover {
				color: #000;
				background: #fff;
			}

		}

		.services {
			text-align: center;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 40px 0px;
			background: #fff;

			h2 {
					font-size: 38px;
					text-transform: uppercase;
					color: #777777;
				}
				
				.line {
					height: 5px;
					width: 120px;
					background: #F8CE00;
					margin: 5px 0px 35px 0px;
				}

			.marker {
				width: 80%;
				ul {
					padding-left: 100px;
					li {
						list-style: disc; 
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 10px;
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}

				p:last-child {
					margin-top: 10px;
				}
				input[type="button"] {
				cursor: pointer;
				border-radius: 30px;
				padding: 12px 32px;
	  			text-align: center;
	  			border: 2px solid #F8C734;
	  			font-size: 16px;
	  			text-transform: uppercase;
	  			font-family: Roboto, sans-serif;
	  			transition: .4s;
	  			background: #F8C734;
	  			margin-top: 35px;
	  			color: #fff;
	  			outline: none;
			}

			input[type="button"]:hover {
				transition: .4s;
				color: #000;
				background: #fff;
			}
			}
		}

		.partners {
			position: relative;
			text-align: center;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 40px 0px;
			background: #F8F5F5;

			h2 {
					font-size: 38px;
					text-transform: uppercase;
					color: #777777;
				}
				
				.line {
					height: 5px;
					width: 120px;
					background: #F8CE00;
					margin: 5px 0px 35px 0px;
				}

			.partof {
				width: 80%;
				ul {
					padding-left: 100px;
					li {
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 10px;
						list-style: disc;
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}
			}

			.images {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-top: 30px ;

				.container-img img {
					margin-right: 40px;
				}

				.container-img:last-child img:last-child {
					margin-right: 0px;
				}
				
			}
		}
	}

}

@media screen and (max-width: 700px) {
	main {
		.about {
			.contant-about {
				ul {
				padding-left: 40px;
					li {
						text-align: left;
						line-height: 1.5;
						font-size: 16px;
						padding-top: 5px;
					}
				}
				p {
					font-size: 16px;
					text-align: center;
					text-indent: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 782px) {
	main {
		.about {
			.contant-about {
				ul {
					padding-left: 5%;
				}
			}
		}
	}
}


@media screen and (max-width: 500px) {
	main {
		.about {
			.contant-about {
				ul {
					padding-left: 20px;
					li {
						font-size: 14px;
					}
				}
				p{
					text-indent: 0px;
				}
			}
		}
	}
}

#vacs, #contact {
	position: absolute;
	bottom: 15%;
}

.animate {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}