@import "media.scss";
@import "vars.scss";
@import "mixin.scss";
@import "burger-menu.scss";

.wrapper {
	@include flexder;
	main {
			font-family: Roboto Medium, sans-serif;
			@include flexder;
		.about {
			text-align: center;
			width: 100%;
			@include flexder;
			padding: 40px 0px;
			background: #F8F5F5;

			h2 {
				font-size: 38px;
				text-transform: uppercase;
				color: #777777;
			}
				
				.line {
				
					height: 5px;
					width: 120px;
					background: $clrYel;
					margin: 5px 0px 35px 0px;
				
				}

			.contant-about {
				width: 80%;
				transition: 1s;
				ul {
					padding-left: 100px;
					li {
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 5px;
						list-style: disc;
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}

				p:last-child {
					margin-bottom: 0px;
				}
			}

			input[type="button"] {
				color: #fff;
				background: $clrYel;
				cursor: pointer;
				border-radius: 30px;
				padding: 12px 32px;
	  			text-align: center;
	  			border: 2px solid $clrYel;
	  			font-size: 16px;
	  			text-transform: uppercase;
	  			font-family: Roboto, sans-serif;
	  			transition: .3s all;
	  			margin-top: 35px;
	  			outline: none;
			}

			input[type="button"]:hover {
				color: #000;
				background: #fff;
			}

		}

		.services {
			text-align: center;
			width: 100%;
			@include flexder;
			padding: 50px 0px;
			background: #fff;

			h2 {
					font-size: 38px;
					text-transform: uppercase;
					color: #777777;
				}
				
				.line {
					height: 5px;
					width: 120px;
					background: $clrYel;
					margin: 5px 0px 35px 0px;
				}

			.marker {
				margin-top: 50px;
				width: 80%;
				display: flex;
				justify-content: center;
				.container-technologies {
					margin-right: 40px;
					display: flex;
					.box {
						margin-right: 40px;
						.circle {
							cursor: pointer;
							transition: .4s all;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 300px;
							height: 300px;
							border-radius: 100%;
							background: #F8F5F5;

							img {

							}
						}

						h3 {
							text-transform: uppercase;
							margin-top: 40px;
							font-size: 30px;
							color: #767676;
							font-weight: normal;
						}
					}

					.circle:hover {
						background: $clrYel;
					}

					.box:last-child {
						margin-right: 0px;
					}
				}
				.container-technologies:last-child {
					margin-right: 0px;
				}

				ul {
					padding-left: 100px;
					li {
						list-style: disc; 
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 10px;
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}

				p:last-child {
					margin-top: 10px;
				}
				input[type="button"] {
				cursor: pointer;
				border-radius: 30px;
				padding: 12px 32px;
	  			text-align: center;
	  			border: 2px solid $clrYel;
	  			font-size: 16px;
	  			text-transform: uppercase;
	  			font-family: Roboto, sans-serif;
	  			transition: .4s;
	  			background: $clrYel;
	  			margin-top: 35px;
	  			color: #fff;
	  			outline: none;
			}

			input[type="button"]:hover {
				transition: .4s;
				color: #000;
				background: #fff;
			}
			}
		}

		.partners {
			position: relative;
			text-align: center;
			width: 100%;
			@include flexder;
			padding: 40px 0px;
			background: #F8F5F5;

			h2 {
					font-size: 38px;
					text-transform: uppercase;
					color: #777777;
				}
				
				.line {
					height: 5px;
					width: 120px;
					background: $clrYel;
					margin: 5px 0px 35px 0px;
				}

			.partof {
				width: 80%;
				ul {
					padding-left: 100px;
					li {
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 10px;
						list-style: disc;
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}
			}

			.images {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-top: 30px ;

				.container-img img {
					margin-right: 40px;
				}

				.container-img:last-child img:last-child {
					margin-right: 0px;
				}
				
			}
		}
	}

}

@media screen and (max-width: 700px) {
	main {
		.about {
			.contant-about {
				ul {
				padding-left: 40px;
					li {
						text-align: left;
						line-height: 1.5;
						font-size: 16px;
						padding-top: 5px;
					}
				}
				p {
					font-size: 16px;
					text-align: center;
					text-indent: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 782px) {
	main {
		.about {
			.contant-about {
				ul {
					padding-left: 5%;
				}
			}
		}
	}
}


@media screen and (max-width: 500px) {
	main {
		.about {
			.contant-about {
				ul {
					padding-left: 20px;
					li {
						font-size: 14px;
					}
				}
				p{
					text-indent: 0px;
				}
			}
		}
	}
}

#vacs, #contact {
	position: absolute;
	bottom: 15%;
}

.animate {
	@include flexder;
}

@media screen and (max-width: 1340px) {
	main {
		.services {
			.marker {
				flex-direction: column;
				align-items: center;
					.container-technologies {
						margin-bottom: 30px;
						margin-right: 0px;

					.box {
						margin-right: 0px;
						@include flexder;
					}
					
				}

				.container-technologies:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 720px) {
	main {
		.services {
			.marker {
					.container-technologies {
						flex-direction: column;

					.box {
						flex-direction: column;
					}
					
				}
			}
		}
	}
}