main {
	font-family: Roboto, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;



	.about {
		text-align: center;
		width: 80%;
		display: flex;
	
		align-items: center;
		flex-direction: column;
		padding: 40px 0px;
		
		h1 {
			font-size: 30px;
			text-transform: uppercase;
		}
		
		.line {
			height: 5px;
			width: 60px;
			background: #F8CE00;
			margin: 5px 0px 35px 0px;
		}

		p {
			line-height: 1.5;
		}

		input[type="button"] {
			cursor: pointer;
			border-radius: 10px;
			color: #000;
			padding: 12px 32px;
  			text-align: center;
  			border: 2px solid #F8C734;
  			font-size: 16px;
  			text-transform: uppercase;
  			font-family: Roboto, sans-serif;
  			transition: .4s;
  			background: #fff;
  			margin-top: 35px;
		}

		input[type="button"]:hover {
			transition: .4s;
			color: #fff;
			background: #F8C734;
		}

	}

	.records {
		padding: 40px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: #61BA61;
		color: #fff;
		width: 100%;
		h1 {
			font-size: 30px;
			text-transform: uppercase;
		}
		
		.line {
			height: 5px;
			width: 60px;
			background: #F8CE00;
			margin: 5px 0px 35px 0px;
		}
		p {
			line-height: 1.5;
		}
		.marker {
			width: 600px;
			text-align: left;
			ul {
			
			margin: 30px 0;
				li {
					list-style-image: url(../images/physics.png);
					line-height: 1.5;
				}
			}
		}
	}

	.partners {
		border-bottom: 2px solid #F8CE00;
		width: 100%;
		padding: 40px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		h1 {
			font-size: 30px;
			text-transform: uppercase;
		}
		
		.line {
			height: 5px;
			width: 60px;
			background: #F8CE00;
			margin: 5px 0px 35px 0px;
		}
		p {
			line-height: 1.5;
		}

		.marker {
			width: 600px;
			text-align: left;
			ul {
			
			margin: 30px 0;
				li {
					list-style-image: url(../images/partner.png);
					line-height: 1.5;
				}
			}
		}

		.images {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 30px 0;

			img {

				margin-right: 40px;
			}

			img:last-child {
				margin-right: 0px;
			}

			
		}
	}

	.sert {
		padding: 40px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		h1 {
			font-size: 30px;
			text-transform: uppercase;
		}
		
		.line {
			height: 5px;
			width: 60px;
			background: #F8CE00;
			margin: 5px 0px 35px 0px;
		}
		p {
			width: 500px;
			line-height: 1.5;
		}
		.sertification {
			margin-top: 30px;
			display: flex;
			align-items: center;
			justify-content: space-around;
			position: relative;
			height: 500px;
			.coin img:first-child, .coin img:last-child {
				width: 300px;
				height: auto;
			}

			.coin img {
				margin-right: 10%;
			}

			.coin img:last-child {
				margin-right: 0px;
			}
		}
	}

	.contact {
		font-family: Roboto Medium, sans-serif;
		padding: 40px 0;
		background: #61BA61;
		color: #fff;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		h1 {
			font-size: 30px;
			text-transform: uppercase;
		}
		
		.line {
			height: 5px;
			width: 60px;
			background: #F8CE00;
			margin: 5px 0px 35px 0px;
		}
		#map {
			width: 70%;
			height: 500px;
			border-radius: 10px;
			z-index: 1;
		}

		.information {
			width: 90%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 30px;

			.info-text {
				text-align: left;
				font-size: 18px;
				/*margin-right: 50%;*/
				.adress {
					margin-bottom: 20px;
				}

				.numbers {
					margin-bottom: 20px;
				}

				.email {

				}
			}

			form {
				width: 455px;


				textarea {
					width: 100%;
					height: 150px;
					padding: 10px;
					margin-bottom: 10px;
					border: none;
					text-transform: uppercase;
  					font-family: Roboto, sans-serif;
				}

				.elements {
					width: 100%;
					display: flex;
					margin-bottom: 10px;
					
					input:first-child {
						margin-right: 37px;
					}

					input[type="text"], input[type="email"], input[type="submit"] {
						padding: 12px 32px;
						border: none;
						text-transform: uppercase;
  						font-family: Roboto, sans-serif;
					}

					input[type="submit"] {
						background: #fff;
						border: 2px solid #F8C734;
  						transition: .4s;
  						cursor: pointer;
					}

					input[type="submit"]:hover {
						transition: .4s;
						color: #fff;
						background: #F8C734;
					}
				}
			}
		}
	}
}