@import "burger-menu.scss";
@import "media-about.scss";
@import "modalLng.scss";
@import "vars.scss";
@import "mixin.scss";

* {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}
.wrapper {
	overflow: hidden;
}

.animate {
	@include flexder;
}

.section-header {
	background: url(../images/header-bg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top top;
	nav {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		align-items: center;
		font-size: 18px;
		font-family: Roboto, sans-serif;
		transition: .5s;
		padding: 40px 0px;
		z-index: 100;
		a {
			
			display: flex;
			justify-content: center;
			align-items: center;
			h1 {
				font-size: 40px;
				color: #fff;
				display: block;			
			}
		}

		#logo img {
			width: 100px;
			height: auto;
		}
		
	}
}

main {
		font-family: Roboto Medium, sans-serif;
		@include flexder;
	.services {
			text-align: center;
			width: 100%;
			@include flexder;
			padding: 40px 0px;
			background: #F8F5F5;

			h2 {
					font-size: 38px;
					text-transform: uppercase;
					color: #777777;
				}
				
				.line {	
					height: 5px;
					width: 120px;
					background: $clrYel;
					margin: 5px 0px 35px 0px;

				}

			.marker {
				width: 80%;
				ul {
					padding-left: 100px;
					li {
						list-style: disc; 
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 10px;
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}

				p:last-child {
					margin-top: 10px;
				}
			}
			.results {
			text-align: center;
			width: 100%;
			@include flexder;
			padding: 40px 0px 10px 0;

			h2 {
					font-size: 38px;
					text-transform: uppercase;
					color: #777777;
				}
				
				.line {	
					height: 5px;
					width: 120px;
					background: $clrYel;
					margin: 5px 0px 35px 0px;

				}

			.achivements {
				width: 80%;
				ul {
					padding-left: 50px;
					li {
						list-style: disc; 
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 10px;
						ul {
							li {
								list-style: disc;
								font-size: 16px;
							}
						}
					}
				}

				p {
					margin-bottom: 10px;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}

				p:last-child {
					margin-top: 10px;
				}
			}
		}
		.container-table {
				text-align: center;
				width: 100%;
				@include flexder;
				padding: 0px 0px;

				.table {
					padding: 0px;
					img {

					}
				}
			}
			.software {
				width: 80%;
				ul {
					padding-left: 50px;
					li {
						list-style: none; 
						text-align: left;
						line-height: 1.5;
						font-size: 18px;
						padding-top: 10px;
						ul {
							li {
								list-style: disc;
								font-size: 16px;
							}
						}
					}
				}

				p {
					margin: 20px 0;
					line-height: 1.5;
					color: #1b272b;
					text-align: left;
					font-size: 18px;
					text-indent: 35px;
				}
			}
		}
}

table {
	margin: 30px 0px 30px 0px;
}

.table-bordered {

	ul {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		li {

		}
	}
}

.table-bordered {
	tbody {
		tr:nth-child(4), tr:nth-child(5), tr:nth-child(6) {
			td:nth-child(3), td:nth-child(4) {
				padding-top: 50px;
			}
		}
	}
}

footer {
	background: #2d2d2d;
	color: #fff;
	font-family: Roboto, sans-serif;
	padding: 40px 0px;
	width: 100%;
	@include flexder;
	.container {
		@include flexder;
	}
}

@media screen and (max-width: 700px) {
	main {
		.services {
			.marker {
				ul {
				padding-left: 40px;
					li {
						text-align: left;
						line-height: 1.5;
						font-size: 16px;
						padding-top: 5px;
					}
				}
				p {
					font-size: 16px;
					text-align: center;
					text-indent: 0px;
				}
			}
			.results {
				.achivements {
				ul {
					padding-left: 40px;
						li {
							text-align: left;
							line-height: 1.5;
							font-size: 16px;
							padding-top: 5px;
							ul {
								li {
									font-size: 14px;
								}
							}
						}
					}
				}
				
			}
			.software {
				ul {
				padding-left: 40px;
					ul {
						li {
							li {
								text-align: left;
								line-height: 1.5;
								font-size: 16px;
								padding-top: 5px;
							}
						}
					}
				}
				p {
					font-size: 16px;
					text-align: left;
					text-indent: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 782px) {
	main {
		.services {
			.marker {
				ul {
					padding-left: 5%;
				}
			}

			.results {
				.achivements {
				ul {
					padding-left: 5%;
					}
				}
				
			}

		}
	}
}


@media screen and (max-width: 500px) {
	main {
		.services {
			.marker {
				ul {
					padding-left: 20px;
					li {
						font-size: 14px;
					}
				}
				p{
					text-indent: 0px;
				}
			}

			.software {
				ul {
					padding-left: 20px;
					ul {
						li {
							font-size: 14px;
							li {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 778px) {
	main {
		.services {
			.container-table {
				.table {
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}



