@import "header.scss";
@import "media.scss";
@import "main.scss";
@import "footer.scss";
@import "contact.scss";
@import "vacation.scss";
@import "vars.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

