@import "vars.scss";

.forms-footer {
	padding: 119px 0 56px 0;
	text-align: center;
	.forms-text {
		img {
			margin-bottom: 15px;
			}

			h4 {
				margin-bottom: 0px;
				font-size: 15px;
				font-family: 'Ubuntu Bold', sans-serif;
				text-transform: uppercase;
				color: #a5a5a5;
				letter-spacing: 3px;
			}

			h2 {
				font-family: $ULight;
				color: #4c4c4c;
				font-size: 61px;
				font-weight: normal;
				margin-top: 20px;
			}

			h2 span {
				color: $green_all;
			}


	}
	.form {
				margin-top: 87px;

				display: flex;
				justify-content: center;
				font-size: 16px;
				color: #939598;
				font-family: 'Uduntu Regular', sans-serif;

				form {

					display: flex;
					flex-direction: column;
					align-items: flex-start;
				.name {
					input[type=text], input[type=email] {
						width: 290px;
						padding: 18px 12px;
						border: 1px solid #CCCCCC;
					}

					input[type=text] {
						margin-right: 40px;
					}
				}
				.subj {
					margin-top: 15px;
					margin-bottom: 30px;
						input[type=text] {
						width: 645px;
						padding: 18px 12px;
						border: 1px solid #CCCCCC;
					}
				}

				textarea {
					height: 198px;
					width: 645px;
					padding: 18px 12px;
				}

				button {
					border: none;
					color: #ffff;
					background: $green_all;
					padding: 19px 40px;
					font-family: $ULight;
					cursor: pointer;
					transition: .4s;
					margin-top: 70px;

				}

				button:hover {
					background: #000;
					transition: .4s;
				}
			}
	}

	p {
		margin-left: 45px;
		color: #939598;
		font-size: 16px;
		font-family: 'Uduntu Regular', sans-serif;

	}
}


.footer-info {
	display: flex;
	justify-content: center;
	.container {
		background: #F7F7F7;
		width: 84%;
		padding: 40px 0;
		display: flex;
		justify-content: center;
		.box {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 126px;
			border-right: 1px solid #818181;

			img {
				margin-bottom: 15px;
			}
			
			h3 {
				color: #4c4c4c;
				font-size: 18px;
				font-family: 'Ubuntu Bold', sans-serif;
				text-transform: uppercase;
				font-weight: 600;
				margin-bottom: 0px;
			}

			p {
				font-family: $ULight;
				color: #4c4c4c;
				font-size: 19px;

				span {
					color: $green_all;
				}
			}
			
		}

			.box:last-child {
				border: none;
			}

		
	}
}

.footer-full {
	background: $green_all;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $ULight;
	color: #fff;
	padding: 20px 0 30px 0px;

	.full-text {
		h2 {
			font-size: 46px;
			font-weight: normal;
			margin-bottom: 15px;

			strong {
				font-family: 'Ubuntu Bold', sans-serif;
				font-weight: 900;
			}
		}

		p {
			font-size: 16px;
		}
	}

	.footer-btn {
		margin-left: 180px;
		margin-top: 12px;
		button {
			padding: 19px 40px;
			font-family: $ULight;
			cursor: pointer;
			transition: .4s;
			color: #fff;
			border: 1px solid #fff;
			background: $green_all;
		}

		button:hover {
			transition: .5s;
			background: #fff;
			color: #000;
		}
	}


}

.footer-under {
	background: #252830;
	padding: 45px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: 'Uduntu Regular', sans-serif;

	.container {
	display: flex;
	justify-content: center;
	align-items: center;
		
		.box {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 559px;

			.logo {
				margin-right: 22px;
			}

			p {
				span {
					color: $green_all;
				}
			}
		}

		.icons {
			display: flex;

			a {
				margin-right: 22px;
			}

			a:last-child {
				margin-right: 0px;
			}
		}
	}

}


