@import "vars.scss";

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

#first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background: #7A7A7A;
	color: #fff;
	padding: 60px 0 60px 0;

	.header-preview h4{
		font-family: 'Ubuntu Bold', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 38px;	
	}

	.header-preview h1 {
		font-family: 'Uduntu Regular', sans-serif;
		font-size: 56px;
		font-weight: normal;
		margin-bottom: 36px;
	}

	.header-preview h3 {
		font-size: 24px;
		font-weight: normal;
		margin-bottom: 76px;
	}

	input {
		padding: 17px 0px 18px 36px;
		border: 1px solid #E3E3E3;
	}

	 input[type=submit] {
		color: #fff;
		border: 1px solid $green_all;
		background:$green_all;
		padding-right: 36px;
	}

	span {
		color: $green_all;
	}
}

.forms, .header-preview h3, .header-below p {
	font-family: $ULight;
}

.btn-push button {
	background: none;
	border: none;
	margin-bottom: 89px;

}

.forms {
	margin-bottom: 48px;
	font-size: 18px;
}

.header-below p:first-child {
	margin-bottom: 12px;
	font-size: 16px;
}

@media screen and (max-width: 700px) {
	section#first {
		.forms {
			display: flex;
			flex-direction: column;
			input {
				margin-bottom: 20px;
			}

			input:last-child {
				margin-bottom: 0px;
			}
		}
	}
}