@import "vars.scss";

.main-love {
	background: #F9F9F9;
	padding: 74px 0px;
	display: flex;
	justify-content: center;
	.picture {
		margin-right: 65px;
		margin-top: 75px;
	}

	.love-information {
		.box {
			margin-bottom: 45px;
			h2 {
				font-size: 33px;
				color: #4c4c4c;
				font-family: 'Ubuntu Bold', sans-serif;
				font-weight: 600;
			}




			h2.special {
				color: #939598;
				font-family: 'Uduntu Regular', sans-serif;
				font-weight: 300;
				margin-bottom: 10px;
				span {
					color: $green_all;
				}
			}

			p {
				color: #C1B0B3;
				font-family: $ULight;
				font-size: 15px;
			}
		}

		.box-ul {
			display: flex;
			ul {
				padding: 0px;
				li {
					list-style: none;
					
					margin-bottom: 10px;
					padding-left: 24px;
					a {
						color: #8D7A7A;
						font-size: 16px;
						font-family: 'Uduntu Regular', sans-serif;
					}
				}
			}

			ul:first-child {
				margin-right: 112px;
			}
		}

		.love-btn {
			margin-top: 50px;
			button:first-child {
				border: none;
				padding: 21px 40px;
				font-size: 15px;
				font-family: 'Uduntu Regular', sans-serif;
				font-weight: normal;
				color: #fff;
				background: #000;
				transition: .5s;
				margin-right: 24px;
			}
			button:first-child:hover {
				background: $green_all;
				transition: .5s;
			}

			button:last-child {
				border: none;
				background: none;
				color: #afb0b3;
				font-family: 'Uduntu Regular', sans-serif;
				font-weight: normal;
				transition: .5s;
			}

			button:last-child:hover {
				color: #000;
				transition: .5s;
			}
		}
	}
}

.h2-first {
	margin-bottom: 0px;
}

@media screen and (max-width: 1020px) {
	.main-love {
		padding-top: 40px;
		flex-direction: column;
		align-items: center;
			.picture {
			margin-right: 0px;
		}

		.love-information {
			.love-btn {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				button:last-child {
					margin-top: 30px;
				}
				button:first-child {
					margin-right: 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 530px) {
	.main-love {
		.picture{
			img {
				width: 400px;
				height: 327px;
			}
		}

		.love-information {
			.box {
				text-align: center;
			}

		}
	}
}

@media screen and (max-width: 500px) {
	.main-love {
		.love-information {
			.box-ul {
				justify-content: center;
				ul {
					li {
						a {
							font-size: 14px;
						}
					}
				}
				ul:first-child {
					margin-right: 60px;
				}
			}
		}
	}
}

@media screen and (max-width: 392px) {
	.main-love {
		.picture{
			img {
				width: 300px;
				height: 227px;
			}
		}
	}
} 