@media screen and (max-width: 1130px) {
	.main-features {
		.container {
			.info-content {
				.information {
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.content {
						text-align: center;
						margin-left: 0px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 572px) {
	.main-features {
		.container {
			.tab-buttons button {
						font-size: 16px;
						
						padding: 15px 34px;
					
						
						margin-right: 7px;
					}
				}
			}

			.info-content {
				.information {
					img {
						width: 100%;
					}
				}
			}
}

@media screen and (max-width: 511px) {
	.main-features {
		.container {
			.tab-buttons button.links:nth-child(3) {
					margin-top: 20px;
			}
			.tab-buttons button.links:nth-child(2) {
					margin-right: 0px;
			}
		

		.info-content {
				.information {
					img {
						height: 270px;
					}
				}
			}
		}
	}

}


@media screen and (max-width: 511px) {
	.main-features {
		.container {
		.info-content {
				.information {
					img {
						height: 240px;
					}
				}
			}
		}
	}

}


@media screen and (max-width: 341px) {
	.main-features {
		.container {
			.tab-buttons button.links:nth-child(2) {
					margin-right: 7px;
			}	
		}

	}
}


@media screen and (max-width: 310px) {
	.main-features {
		.container {
			.tab-buttons button.links:nth-child(2) {
					margin-top: 20px;
			}	
		}

	}
}

@media screen and (max-width: 841px) {
	.movement {
		.motion-2 {
			flex-direction: column;
			.box {
				margin-left: 0px;
				margin-bottom: 30px;
			}

			.box:last-child {
				margin-bottom: 0px;
			}
		}
	}
}



