@media screen and (max-width: 1000px) {
	main {
		.main-menu {
			flex-direction: column;
			padding: 10px 0px;
			
			
			.menu__icon {
				margin-left: 10px;
			}
			.menu-left {
				box-shadow: 1px 11px 22px -12px #ccc8ca;
				background: #fff;
					ul{
						margin-bottom: 0px;
						padding-left: 0px;
						flex-direction: column;
						li, img {
							margin-right: 0px;
						}
						li {
							a {
								font-size: 18px;
								color: #333333;
							}
						}

						img {
							margin-left: 10px;
						}
						li:hover {
							background: #E7EAED;

					}
				}
			}

			.menu-right {
				background: #fff;
				ul {
					justify-content: space-between;
					border: none;

					
					li.points {
						display: none;
					}
					#menu-media {
						display: flex;
						li {
							a {
								margin-right: 40px;
							}
							
						}
					}
				}
				
			}
		}
	}
}

@media screen and (max-width: 756px) {
	.main-menu {
		.menu-right {
					
					ul {
						justify-content: center;			
				
						#menu-media {
							li {
								a {
									margin-right: 0px;
								}
								
							}
						}
					}
					
				}
		}
		
}

#menu-media {
	display: none;
}