@import "vars.scss";




.main-slider .slider {
position: relative;
background: #A5A5A5;
padding: 103px 0 230px 0px;
 z-index: 9;
 width: 100%;
 height: 290px;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 text-align: center;
 color: #fff;
 }
 .main-slider .slider ul,
 .main-slider .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .main-slider .slider ul {
width: 300%; 
 }
 .main-slider .slider ul li {
 list-style-type: none;
 float: left;
 width: 33%;
 height: 290px;
 }
 .main-slider .slider .nav {
 position: absolute;
 left: 46%;
 bottom: 10%; 
 }
 .main-slider .slider .nav span {
 opacity: 0.9;
 background: #000;
 margin: 0 30px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 }
 .main-slider .slider .nav span.on {
 background: $green_all;
 }


.main-slider {
	.slider-box {
				.avatar {
					margin-bottom: 43px;
				}

				.stars {
					margin-bottom: 43px;
					
				}
				p {
					font-family: 'Uduntu Regular', sans-serif;
					line-height: 1.5;
				}
				.p-twitter 
				{
					font-family: 'Ubuntu Bold', sans-serif;
					font-weight: 600;
					margin-top: 43px;
					img {
						margin-right: 6px;
					}
				}
			}
}		



@media screen and (max-width: 570px) {
	.slider .nav {
		 left: 40%;
		
 	}
}

@media screen and (max-width: 425px) {
	.slider .nav {
		 left: 37%;
		
 	}
}

@media screen and (max-width: 387px) {
	.main-slider {
		.slider {
			padding-bottom: 250px;
		}
	}
}