@import "vars.scss";

.team {
	background: url(../images/teamates.png);
	background-size: cover;
	padding: 71px 0 69px 0;
	color: #fff;
	text-align: center;
	width: 100%;
	.team-text {
		font-size: 22px;
		font-family:"Playfair Display", sans-serif;
		font-weight: bold;
		

		h3 {
			font-size: 22px;
			font-weight: bold;
		}

		p {
			font-size: 14px;
			font-weight: normal;
			margin-bottom: 18px;
		}

		.alone {
			width: 100%;
			display: flex;
			justify-content: center;
			.line {
				height: 2px;
				width: 50px;
				background: #655C80;
			}
		}
	}

	.teammates {
		margin-top: 47px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.guy {
			height: 307px;
			width: 220px;
			position: relative;
			margin-right: 20px;

			.photo {
				position: absolute;
				top: 0;
				background: #fff;
				height: 229px;
				width: 220px;
				transition: .3s;
			}

			.disp {
				position: absolute;
				bottom: 0;
				width: 218px;
				height: 77px;
				text-align: center;
				border: 1px solid #b2b2b2;

				h4 {
					font-size: 14px;
					font-family: $taj_ff-rb;
					margin-bottom: 12px;
				}

				p {
					font-size: 13px;
					font-family: Roboto Lt, sans-serif;
					color: #fafafa;
				}
			}

			.photo:hover {
				opacity: .4;
				transition: .3s;
			}
		}

		.guy:last-child {
			margin-right: 0px;
		}

	}

	.team-below {
			margin-top: 70px;
			p {
				margin-bottom: 29px;
				font-size: 14px;
				font-family: Roboto Lt, sans-serif;
			}

			input[type=button] {
				border: 1px solid $taj_color;
				border-radius: 2px;
				font-size: 16px;
				font-family: Roboto, sans-serif;
				background: none;
				color: $taj_color;
				padding: 13px 16px;
				text-transform: uppercase;
				cursor: pointer;
				transition: .5s;
			}

			input[type=button]:hover {
				background: $taj_color;
				color: #fff;
				transition: .5s;
			}
		}
}


@media only screen and (max-width: 956px) {
	.team {
		.teammates {
			flex-direction: column;
			align-items: center;
			.guy {
				margin-top: 20px;
				margin-right: 0px;
			}


		}
	}
}