.main-works {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-works .work-container {
    padding: 105px 0 80px 0;
    width: 84%;
    background: #F8F9FB; }
    .main-works .work-container img {
      margin-bottom: 15px; }
    .main-works .work-container h4 {
      margin-bottom: 0px;
      font-size: 15px;
      font-family: 'Ubuntu Bold', sans-serif;
      text-transform: uppercase;
      color: #a5a5a5;
      letter-spacing: 3px; }
    .main-works .work-container h2 {
      font-family: "Uduntu Light", sans-serif;
      color: #4c4c4c;
      font-size: 61px;
      font-weight: normal;
      margin-top: 20px; }
    .main-works .work-container h2 span {
      color: #1ABC9C; }
    .main-works .work-container .work-tabs button {
      border: none;
      background: #1ABC9C;
      padding: 12px 23px;
      color: #fff;
      font-size: 18px;
      font-family: 'Uduntu Regular', sans-serif;
      margin-right: 8px;
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
    .main-works .work-container .work-tabs button.active {
      background: #000; }
    .main-works .work-container .work-tabs button:last-child {
      margin-right: 0px; }
    .main-works .work-container .work-tabs button:hover {
      background: #000;
      -webkit-transition: .6s;
      -o-transition: .6s;
      transition: .6s; }
  .main-works .work-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }
    .main-works .work-content .box {
      width: 395.5px;
      height: 267px; }
    .main-works .work-content .box-1 {
      background: #FDBD4F;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .main-works .work-content .box-1 .palax {
        width: 395.5px;
        background: #FDBD4F;
        position: absolute;
        bottom: 88.5%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-1 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-1 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-1 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              height: 74px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-1 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-1 .palax-up {
        position: absolute;
        bottom: 37%;
        background: #FDBD4F;
        display: none;
        width: 395.5px;
        height: 74px;
        background: #252830;
        color: #fff;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-1 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-1 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }
    .main-works .work-content .box-1:hover, .main-works .work-content .box-2:hover, .main-works .work-content .box-3:hover, .main-works .work-content .box-4:hover {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-animation-name: fade;
      animation-name: fade;
      -webkit-animation-duration: .7s;
      animation-duration: .7s; }
      .main-works .work-content .box-1:hover .palax, .main-works .work-content .box-1:hover .palax-up, .main-works .work-content .box-2:hover .palax, .main-works .work-content .box-2:hover .palax-up, .main-works .work-content .box-3:hover .palax, .main-works .work-content .box-3:hover .palax-up, .main-works .work-content .box-4:hover .palax, .main-works .work-content .box-4:hover .palax-up {
        display: block;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
    .main-works .work-content .box-2 {
      background: #B8C496; }
      .main-works .work-content .box-2 .palax {
        width: 395.5px;
        background: #B8C496;
        position: absolute;
        bottom: 88.5%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-2 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-2 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-2 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              height: 74px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-2 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-2 .palax-up {
        position: absolute;
        bottom: 37%;
        background: #FDBD4F;
        display: none;
        width: 395.5px;
        height: 74px;
        background: #252830;
        color: #fff;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-2 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-2 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }
    .main-works .work-content .box-3 {
      background: #65BCD0; }
      .main-works .work-content .box-3 .palax {
        width: 395.5px;
        background: #65BCD0;
        position: absolute;
        bottom: 88.5%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-3 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-3 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-3 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              height: 74px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-3 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-3 .palax-up {
        position: absolute;
        bottom: 37%;
        background: #FDBD4F;
        display: none;
        width: 395.5px;
        height: 74px;
        background: #252830;
        color: #fff;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-3 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-3 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }
    .main-works .work-content .box-4 {
      background: #D7F0ED; }
      .main-works .work-content .box-4 .palax {
        width: 395.5px;
        background: #D7F0ED;
        position: absolute;
        bottom: 88.5%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-4 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-4 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-4 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              height: 74px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-4 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-4 .palax-up {
        position: absolute;
        bottom: 37%;
        background: #FDBD4F;
        display: none;
        width: 395.5px;
        height: 74px;
        background: #252830;
        color: #fff;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-4 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-4 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }
    .main-works .work-content .box-5 {
      background: #E0EAF3; }
      .main-works .work-content .box-5 .palax {
        width: 395.5px;
        height: 74px;
        background: #E0EAF3;
        position: absolute;
        bottom: 50%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-5 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-5 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-5 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-5 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-5 .palax-up {
        position: absolute;
        bottom: 0;
        background: #252830;
        display: none;
        width: 395.5px;
        height: 74px; }
        .main-works .work-content .box-5 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-5 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }
    .main-works .work-content .box-5:hover, .main-works .work-content .box-6:hover, .main-works .work-content .box-7:hover, .main-works .work-content .box-8:hover {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-animation-name: fade;
      animation-name: fade;
      -webkit-animation-duration: .7s;
      animation-duration: .7s; }
      .main-works .work-content .box-5:hover .palax, .main-works .work-content .box-5:hover .palax-up, .main-works .work-content .box-6:hover .palax, .main-works .work-content .box-6:hover .palax-up, .main-works .work-content .box-7:hover .palax, .main-works .work-content .box-7:hover .palax-up, .main-works .work-content .box-8:hover .palax, .main-works .work-content .box-8:hover .palax-up {
        display: block;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
    .main-works .work-content .box-6 {
      background: #D2C2B3; }
      .main-works .work-content .box-6 .palax {
        width: 395.5px;
        height: 74px;
        background: #D2C2B3;
        position: absolute;
        bottom: 50%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-6 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-6 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-6 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-6 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-6 .palax-up {
        position: absolute;
        bottom: 0;
        background: #252830;
        display: none;
        width: 395.5px;
        height: 74px; }
        .main-works .work-content .box-6 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-6 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }
    .main-works .work-content .box-7 {
      background: #E5E4E2; }
      .main-works .work-content .box-7 .palax {
        width: 395.5px;
        height: 74px;
        background: #E5E4E2;
        position: absolute;
        bottom: 50%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-7 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-7 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-7 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-7 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-7 .palax-up {
        position: absolute;
        bottom: 0;
        background: #252830;
        display: none;
        width: 395.5px;
        height: 74px; }
        .main-works .work-content .box-7 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-7 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }
    .main-works .work-content .box-8 {
      background: #FFC301; }
      .main-works .work-content .box-8 .palax {
        width: 395.5px;
        height: 74px;
        background: #FFC301;
        position: absolute;
        bottom: 50%;
        display: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .main-works .work-content .box-8 .palax ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 25px; }
          .main-works .work-content .box-8 .palax ul li {
            margin-right: 5px; }
            .main-works .work-content .box-8 .palax ul li a {
              color: #1ABC9C;
              font-size: 13px;
              font-family: 'Uduntu Regular', sans-serif;
              padding: 7px 8px;
              border-radius: 5px;
              background: #F2EDE8; }
          .main-works .work-content .box-8 .palax ul li:last-child {
            margin-right: 0px; }
      .main-works .work-content .box-8 .palax-up {
        position: absolute;
        bottom: 0;
        background: #252830;
        display: none;
        width: 395.5px;
        height: 74px; }
        .main-works .work-content .box-8 .palax-up p {
          font-family: 'Uduntu Regular', sans-serif;
          color: #fff;
          font-size: 16px;
          text-align: left;
          padding-left: 20px; }
          .main-works .work-content .box-8 .palax-up p span {
            font-family: 'Ubuntu Bold', sans-serif; }

@-webkit-keyframes fade {
  0% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: .5; }
  100% {
    opacity: 1; } }

#Point2, #Point3, #Point4 {
  display: none;
  -webkit-animation: boxWork 1s;
  animation: boxWork 1s; }

#Point1 {
  -webkit-animation: boxWork 1s;
  animation: boxWork 1s; }

.work-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#Point2 .work-flex .box .palax {
  bottom: 78%; }

#Point2 .work-flex .box .palax-up {
  bottom: -20%; }

#Point2 .work-flex .box-5 .palax {
  bottom: 72.5%; }

#Point2 .work-flex .box-6 .palax {
  bottom: 72.5%; }

#Point3 .work-flex .box .palax-up {
  bottom: -20%; }

#Point3 .work-flex .box-3 .palax {
  bottom: 78%; }

#Point3 .work-flex .box-7 .palax {
  bottom: 72.5%; }

#Point4 .work-flex .box .palax-up {
  bottom: -20%; }

#Point4 .work-flex .box-4 .palax {
  bottom: 78%; }

#Point4 .work-flex .box-8 .palax {
  bottom: 72.5%; }

.boxfirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@-webkit-keyframes boxWork {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes boxWork {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 1599px) {
  .main-works .work-content .boxfirst .box {
    width: 350px; }
    .main-works .work-content .boxfirst .box .palax-up, .main-works .work-content .boxfirst .box .palax {
      width: 350px; } }

@media screen and (max-width: 1420px) {
  .main-works .work-content .boxfirst {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main-works .work-content .boxfirst .box-1 .palax, .main-works .work-content .boxfirst .box-2 .palax, .main-works .work-content .boxfirst .box-3 .palax {
      bottom: 94.5%; }
    .main-works .work-content .boxfirst .box-1 .palax-up, .main-works .work-content .boxfirst .box-2 .palax-up, .main-works .work-content .boxfirst .box-3 .palax-up {
      bottom: 70%; }
    .main-works .work-content .boxfirst .box-4 .palax {
      bottom: 69.5%; }
    .main-works .work-content .boxfirst .box-4 .palax-up {
      bottom: 45%; }
    .main-works .work-content .boxfirst .box-5 .palax, .main-works .work-content .boxfirst .box-6 .palax, .main-works .work-content .boxfirst .box-7 .palax {
      bottom: 43%; }
    .main-works .work-content .boxfirst .box-5 .palax-up, .main-works .work-content .boxfirst .box-6 .palax-up, .main-works .work-content .boxfirst .box-7 .palax-up {
      bottom: 20%; }
    .main-works .work-content .boxfirst .box-8 .palax {
      bottom: 18%; }
    .main-works .work-content .boxfirst .box-8 .palax-up {
      bottom: -6%; } }

@media screen and (max-width: 1066px) {
  .main-works .work-content .boxfirst .box-3 .palax {
    bottom: 69.5%; }
  .main-works .work-content .boxfirst .box-3 .palax-up {
    bottom: 45%; }
  .main-works .work-content .boxfirst .box-7 .palax {
    bottom: 18%; }
  .main-works .work-content .boxfirst .box-7 .palax-up {
    bottom: -5%; } }

@media screen and (max-width: 716px) {
  .main-works .work-content .boxfirst .box-1 .palax {
    bottom: 97%; }
  .main-works .work-content .boxfirst .box-1 .palax-up {
    bottom: 85%; }
  .main-works .work-content .boxfirst .box-2 .palax {
    bottom: 84.5%; }
  .main-works .work-content .boxfirst .box-2 .palax-up {
    bottom: 72.5%; }
  .main-works .work-content .boxfirst .box-3 .palax {
    bottom: 72%; }
  .main-works .work-content .boxfirst .box-3 .palax-up {
    bottom: 60%; }
  .main-works .work-content .boxfirst .box-4 .palax {
    bottom: 59.5%; }
  .main-works .work-content .boxfirst .box-4 .palax-up {
    bottom: 47.5%; }
  .main-works .work-content .boxfirst .box-5 .palax {
    bottom: 47%; }
  .main-works .work-content .boxfirst .box-5 .palax-up {
    bottom: 35%; }
  .main-works .work-content .boxfirst .box-6 .palax {
    bottom: 34%; }
  .main-works .work-content .boxfirst .box-6 .palax-up {
    bottom: 22.5%; }
  .main-works .work-content .boxfirst .box-7 .palax {
    bottom: 21.5%; }
  .main-works .work-content .boxfirst .box-7 .palax-up {
    bottom: 10%; }
  .main-works .work-content .boxfirst .box-8 .palax {
    bottom: 9%; }
  .main-works .work-content .boxfirst .box-8 .palax-up {
    bottom: -2.5%; } }

@media screen and (max-width: 1599px) {
  .main-works .work-content .work-flex .box {
    width: 350px; }
    .main-works .work-content .work-flex .box .palax-up, .main-works .work-content .work-flex .box .palax {
      width: 350px; } }

@media screen and (max-width: 1420px) {
  .main-works #Point2 .work-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main-works #Point2 .work-flex .box .palax {
      bottom: 89%; }
    .main-works #Point2 .work-flex .box .palax-up {
      bottom: 40%; }
    .main-works #Point2 .work-flex .box:nth-child(3) .palax {
      bottom: 86%; }
    .main-works #Point2 .work-flex .box:nth-child(4) .palax {
      bottom: 36%; }
    .main-works #Point2 .work-flex .box:nth-child(4) .palax-up {
      bottom: -10%; } }

@media screen and (max-width: 1066px) {
  .main-works #Point2 .work-flex .box:nth-child(3) .palax {
    bottom: 36%; }
  .main-works #Point2 .work-flex .box:nth-child(3) .palax-up {
    bottom: -10%; } }

@media screen and (max-width: 716px) {
  .main-works #Point2 .work-flex .box:nth-child(1) .palax {
    bottom: 94%; }
  .main-works #Point2 .work-flex .box:nth-child(1) .palax-up {
    bottom: 70%; }
  .main-works #Point2 .work-flex .box:nth-child(2) .palax {
    bottom: 69%; }
  .main-works #Point2 .work-flex .box:nth-child(2) .palax-up {
    bottom: 45%; }
  .main-works #Point2 .work-flex .box:nth-child(3) .palax {
    bottom: 43%; }
  .main-works #Point2 .work-flex .box:nth-child(3) .palax-up {
    bottom: 20%; }
  .main-works #Point2 .work-flex .box:nth-child(4) .palax {
    bottom: 18%; }
  .main-works #Point2 .work-flex .box:nth-child(4) .palax-up {
    bottom: -5%; } }

@media screen and (max-width: 720px) {
  #Point3 .work-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #Point3 .work-flex .box-3 .palax {
      bottom: 89%; }
    #Point3 .work-flex .box-3 .palax-up {
      bottom: 40%; }
    #Point3 .work-flex .box-7 .palax {
      bottom: 36%; }
    #Point3 .work-flex .box-7 .palax-up {
      bottom: -10%; } }

@media screen and (max-width: 720px) {
  #Point4 .work-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #Point4 .work-flex .box-4 .palax {
      bottom: 89%; }
    #Point4 .work-flex .box-4 .palax-up {
      bottom: 40%; }
    #Point4 .work-flex .box-8 .palax {
      bottom: 36%; }
    #Point4 .work-flex .box-8 .palax-up {
      bottom: -10%; } }

@media screen and (max-width: 733px) {
  .main-works .work-container .work-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-works .work-container .work-tabs button:last-child {
      margin-top: 8px; } }

@media screen and (max-width: 525px) {
  .main-works .work-container .work-tabs button:nth-child(3) {
    margin-top: 8px;
    margin-right: 0px; } }
