.main-deal {
  text-align: center;
  background: #F8F9FB;
  padding: 140px 0 108px 0;
  font-family: 'Uduntu Regular', sans-serif; }
  .main-deal img {
    margin-bottom: 15px; }
  .main-deal h4 {
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Ubuntu Bold', sans-serif;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 3px; }
  .main-deal h2 {
    font-family: "Uduntu Light", sans-serif;
    color: #4c4c4c;
    font-size: 61px;
    font-weight: normal;
    margin-top: 20px; }
  .main-deal h2 span {
    color: #1ABC9C; }
  .main-deal .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main-deal .container .box {
      margin-right: 30px;
      padding: 45px 97px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s; }
      .main-deal .container .box h3 {
        color: #4c4c4c;
        font-weight: 300;
        text-transform: uppercase; }
      .main-deal .container .box .circ {
        background: url("../images/infinity-images/circuls.png") no-repeat;
        width: 134px;
        height: 134px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #4c4c4c;
        font-size: 29px; }
      .main-deal .container .box p {
        color: #939598;
        font-size: 16px;
        font-family: "Uduntu Light", sans-serif; }
      .main-deal .container .box .bold p {
        color: #4c4c4c;
        font-family: 'Uduntu Regular', sans-serif; }
        .main-deal .container .box .bold p span {
          font-family: 'Ubuntu Bold', sans-serif;
          font-weight: 600; }
      .main-deal .container .box button {
        border: none;
        color: #fdfdfd;
        background: #1ABC9C;
        padding: 19px 40px;
        font-family: "Uduntu Light", sans-serif;
        cursor: pointer;
        -webkit-transition: .7s;
        -o-transition: .7s;
        transition: .7s; }
    .main-deal .container .box:last-child {
      margin-right: 0px; }
    .main-deal .container .box:hover {
      -webkit-box-shadow: 0px 0px 48px 11px #c0c0c0;
      box-shadow: 0px 0px 48px 11px #c0c0c0;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s;
      color: #fff;
      background: #1ABC9C; }
      .main-deal .container .box:hover h3, .main-deal .container .box:hover .circ, .main-deal .container .box:hover .bold p, .main-deal .container .box:hover p, .main-deal .container .box:hover p span {
        color: #fff; }
      .main-deal .container .box:hover button {
        background: #fff;
        -webkit-transition: .7s;
        -o-transition: .7s;
        transition: .7s;
        color: #1ABC9C; }
      .main-deal .container .box:hover button:hover {
        background: #000;
        -webkit-transition: .7s;
        -o-transition: .7s;
        transition: .7s;
        color: #fff; }
  .main-deal p {
    font-size: 15px;
    color: #939598;
    font-family: "Uduntu Light", sans-serif; }
    .main-deal p span {
      color: #1ABC9C; }

@media only screen and (max-width: 1144px) {
  .main-deal .container .box:last-child {
    margin-top: 30px; } }

@media only screen and (max-width: 1100px) {
  .main-deal .container .box:nth-child(2) {
    margin-right: 0px; } }

@media only screen and (max-width: 758px) {
  .main-deal .container .box:nth-child(2) {
    margin-top: 30px; } }

@media only screen and (max-width: 728px) {
  .main-deal .container .box:first-child {
    margin-right: 0px; } }

@media only screen and (max-width: 381px) {
  .main-deal .container .box {
    width: 100%; } }
