.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 71px 0 68px 0;
  text-align: center; }
  .expertise .discription {
    margin-bottom: 48px; }
    .expertise .discription h3 {
      color: #413d4b;
      font-size: 22px;
      font-family: "Playfair Display", sans-serif;
      font-weight: bold;
      margin-bottom: 18px; }
    .expertise .discription p {
      color: #2f2d35;
      font-size: 14px;
      font-family: "Playfair Display", sans-serif;
      margin-bottom: 18px; }
    .expertise .discription .alone {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .expertise .discription .alone .line {
        height: 2px;
        width: 50px;
        background: #C6C4C9; }
  .expertise .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .expertise .container .cut {
      padding: 36px 32px 41px 32px;
      border-right: 1px solid #EBEBEB;
      border-bottom: 1px solid #ebebeb; }
      .expertise .container .cut h4 {
        font-size: 14px;
        font-family: Roboto Bk, sans-serif;
        color: #413d4b;
        margin-top: 34px;
        margin-bottom: 25px; }
      .expertise .container .cut p {
        font-size: 14px;
        line-height: 1.5;
        font-family: Roboto Lt, sans-serif;
        color: #333333; }
    .expertise .container .cut:last-child {
      border-right: none; }
  .expertise .container:last-child .cut {
    border-bottom: none; }

@media only screen and (max-width: 898px) {
  .expertise .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .expertise .container .cut {
      border-bottom: none;
      border-right: none; }
    .expertise .container .cut:first-child {
      border-right: 1px solid #EBEBEB; } }

@media only screen and (max-width: 604px) {
  .expertise .container .cut:first-child {
    border-right: none; } }
