.forms-footer {
  padding: 119px 0 56px 0;
  text-align: center; }
  .forms-footer .forms-text img {
    margin-bottom: 15px; }
  .forms-footer .forms-text h4 {
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Ubuntu Bold', sans-serif;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 3px; }
  .forms-footer .forms-text h2 {
    font-family: "Uduntu Light", sans-serif;
    color: #4c4c4c;
    font-size: 61px;
    font-weight: normal;
    margin-top: 20px; }
  .forms-footer .forms-text h2 span {
    color: #1ABC9C; }
  .forms-footer .form {
    margin-top: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    color: #939598;
    font-family: 'Uduntu Regular', sans-serif; }
    .forms-footer .form form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .forms-footer .form form .name input[type=text], .forms-footer .form form .name input[type=email] {
        width: 290px;
        padding: 18px 12px;
        border: 1px solid #CCCCCC; }
      .forms-footer .form form .name input[type=text] {
        margin-right: 40px; }
      .forms-footer .form form .subj {
        margin-top: 15px;
        margin-bottom: 30px; }
        .forms-footer .form form .subj input[type=text] {
          width: 645px;
          padding: 18px 12px;
          border: 1px solid #CCCCCC; }
      .forms-footer .form form textarea {
        height: 198px;
        width: 645px;
        padding: 18px 12px; }
      .forms-footer .form form button {
        border: none;
        color: #ffff;
        background: #1ABC9C;
        padding: 19px 40px;
        font-family: "Uduntu Light", sans-serif;
        cursor: pointer;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        margin-top: 70px; }
      .forms-footer .form form button:hover {
        background: #000;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
  .forms-footer p {
    margin-left: 45px;
    color: #939598;
    font-size: 16px;
    font-family: 'Uduntu Regular', sans-serif; }

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer-info .container {
    background: #F7F7F7;
    width: 84%;
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer-info .container .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 126px;
      border-right: 1px solid #818181; }
      .footer-info .container .box img {
        margin-bottom: 15px; }
      .footer-info .container .box h3 {
        color: #4c4c4c;
        font-size: 18px;
        font-family: 'Ubuntu Bold', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0px; }
      .footer-info .container .box p {
        font-family: "Uduntu Light", sans-serif;
        color: #4c4c4c;
        font-size: 19px; }
        .footer-info .container .box p span {
          color: #1ABC9C; }
    .footer-info .container .box:last-child {
      border: none; }

.footer-full {
  background: #1ABC9C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Uduntu Light", sans-serif;
  color: #fff;
  padding: 20px 0 30px 0px; }
  .footer-full .full-text h2 {
    font-size: 46px;
    font-weight: normal;
    margin-bottom: 15px; }
    .footer-full .full-text h2 strong {
      font-family: 'Ubuntu Bold', sans-serif;
      font-weight: 900; }
  .footer-full .full-text p {
    font-size: 16px; }
  .footer-full .footer-btn {
    margin-left: 180px;
    margin-top: 12px; }
    .footer-full .footer-btn button {
      padding: 19px 40px;
      font-family: "Uduntu Light", sans-serif;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #fff;
      border: 1px solid #fff;
      background: #1ABC9C; }
    .footer-full .footer-btn button:hover {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      background: #fff;
      color: #000; }

.footer-under {
  background: #252830;
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: 'Uduntu Regular', sans-serif; }
  .footer-under .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-under .container .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 559px; }
      .footer-under .container .box .logo {
        margin-right: 22px; }
      .footer-under .container .box p span {
        color: #1ABC9C; }
    .footer-under .container .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-under .container .icons a {
        margin-right: 22px; }
      .footer-under .container .icons a:last-child {
        margin-right: 0px; }
