.main-team {
  text-align: center;
  padding: 105px 0px 60px 0px; }
  .main-team img {
    margin-bottom: 15px; }
  .main-team h4 {
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Ubuntu Bold', sans-serif;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 3px; }
  .main-team h2 {
    font-family: "Uduntu Light", sans-serif;
    color: #4c4c4c;
    font-size: 61px;
    font-weight: normal;
    margin-top: 20px; }
  .main-team h2 span {
    color: #1ABC9C; }
  .main-team .teamates {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-team .teamates .person {
      padding: 10px 56px;
      cursor: pointer;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s; }
      .main-team .teamates .person .photo {
        background: #f1f1f1;
        width: 258px;
        height: 480px; }
      .main-team .teamates .person h3 {
        color: #4c4c4c;
        font-size: 27px;
        font-family: 'Uduntu Regular', sans-serif;
        font-weight: normal;
        margin-bottom: 0px; }
      .main-team .teamates .person p {
        margin-top: 10px;
        color: #939598;
        font-size: 19px;
        font-family: 'Uduntu Regular', sans-serif; }
      .main-team .teamates .person ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .main-team .teamates .person ul li {
          margin-right: 35px; }
    .main-team .teamates .person:hover {
      -webkit-box-shadow: 0px 0px 24px 4px #c0c0c0;
      box-shadow: 0px 0px 24px 4px #c0c0c0;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s; }

@media screen and (max-width: 1165px) {
  .main-team .teamates {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main-team .teamates .person:first-child {
      margin-right: 30px; }
    .main-team .teamates .person:last-child {
      margin-top: 30px; } }

@media screen and (max-width: 790px) {
  .main-team .teamates {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-team .teamates .person:first-child {
      margin-right: 0px; }
    .main-team .teamates .person:nth-child(2) {
      margin-top: 30px; } }

@media screen and (max-width: 395px) {
  .main-team .teamates .person {
    padding: 20px 30px; }
    .main-team .teamates .person .photo {
      background: #f1f1f1;
      width: 220px;
      height: 450px; } }
