.main-love {
  background: #F9F9F9;
  padding: 74px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-love .picture {
    margin-right: 65px;
    margin-top: 75px; }
  .main-love .love-information .box {
    margin-bottom: 45px; }
    .main-love .love-information .box h2 {
      font-size: 33px;
      color: #4c4c4c;
      font-family: 'Ubuntu Bold', sans-serif;
      font-weight: 600; }
    .main-love .love-information .box h2.special {
      color: #939598;
      font-family: 'Uduntu Regular', sans-serif;
      font-weight: 300;
      margin-bottom: 10px; }
      .main-love .love-information .box h2.special span {
        color: #1ABC9C; }
    .main-love .love-information .box p {
      color: #C1B0B3;
      font-family: "Uduntu Light", sans-serif;
      font-size: 15px; }
  .main-love .love-information .box-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-love .love-information .box-ul ul {
      -webkit-padding-start: 0px;
      padding-inline-start: 0px; }
      .main-love .love-information .box-ul ul li {
        list-style: none;
        margin-bottom: 10px;
        padding-left: 24px; }
        .main-love .love-information .box-ul ul li a {
          color: #8D7A7A;
          font-size: 16px;
          font-family: 'Uduntu Regular', sans-serif; }
    .main-love .love-information .box-ul ul:first-child {
      margin-right: 112px; }
  .main-love .love-information .love-btn {
    margin-top: 50px; }
    .main-love .love-information .love-btn button:first-child {
      border: none;
      padding: 21px 40px;
      font-size: 15px;
      font-family: 'Uduntu Regular', sans-serif;
      font-weight: normal;
      color: #fff;
      background: #000;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      margin-right: 24px; }
    .main-love .love-information .love-btn button:first-child:hover {
      background: #1ABC9C;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .main-love .love-information .love-btn button:last-child {
      border: none;
      background: none;
      color: #afb0b3;
      font-family: 'Uduntu Regular', sans-serif;
      font-weight: normal;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .main-love .love-information .love-btn button:last-child:hover {
      color: #000;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }

.h2-first {
  margin-bottom: 0px; }

@media screen and (max-width: 1020px) {
  .main-love {
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-love .picture {
      margin-right: 0px; }
    .main-love .love-information .love-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main-love .love-information .love-btn button:last-child {
        margin-top: 30px; }
      .main-love .love-information .love-btn button:first-child {
        margin-right: 0px; } }

@media screen and (max-width: 530px) {
  .main-love .picture img {
    width: 400px;
    height: 327px; }
  .main-love .love-information .box {
    text-align: center; } }

@media screen and (max-width: 500px) {
  .main-love .love-information .box-ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-love .love-information .box-ul ul li a {
      font-size: 14px; }
    .main-love .love-information .box-ul ul:first-child {
      margin-right: 60px; } }

@media screen and (max-width: 392px) {
  .main-love .picture img {
    width: 300px;
    height: 227px; } }
