@media screen and (max-width: 1200px) {
  .main-services .wrap-box .wrap-1, .main-services .wrap-box .wrap-2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-services .wrap-box .wrap-1 .head:last-child, .main-services .wrap-box .wrap-2 .head:last-child {
      margin-top: 30px; }
    .main-services .wrap-box .wrap-1 .head:nth-child(1), .main-services .wrap-box .wrap-2 .head:nth-child(1) {
      margin-left: 0px; } }

@media screen and (max-width: 1060px) {
  .main-services .wrap-box .wrap-1 .head:last-child, .main-services .wrap-box .wrap-2 .head:last-child {
    margin-left: 0px; } }

@media screen and (max-width: 790px) {
  .main-services .wrap-box .wrap-1, .main-services .wrap-box .wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-services .wrap-box .wrap-1 .head:nth-child(2), .main-services .wrap-box .wrap-2 .head:nth-child(2) {
      margin-top: 30px;
      margin-left: 0px; } }
