@import "vars.scss";

.expertise {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 71px 0 68px 0;
	text-align: center;

	.discription {
		
		margin-bottom: 48px;
		h3 {
			color: #413d4b;
			font-size: 22px;
			font-family:"Playfair Display", sans-serif;
			font-weight: bold;
			margin-bottom: 18px;
		}

		p {
			color: #2f2d35;
			font-size: 14px;
			font-family: "Playfair Display", sans-serif;
			margin-bottom: 18px;
		
		}

		.alone {
			width: 100%;
			display: flex;
			justify-content: center;

			.line {	
				height: 2px;
				width: 50px;
				background: #C6C4C9;
			}
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;

		.cut {
			padding: 36px 32px 41px 32px;
			border-right: 1px solid #EBEBEB;
			border-bottom: 1px solid #ebebeb;

			h4 {
				font-size: 14px;
				font-family: $taj_ff-rb;
				color: #413d4b;
				margin-top: 34px;
				margin-bottom: 25px;
			}

			p {
				font-size: 14px;
				line-height: 1.5;
				font-family: Roboto Lt, sans-serif;
				color: #333333;
			}
		}

		.cut:last-child {
			border-right: none;
		}
	}

	.container:last-child {
		.cut {
			border-bottom: none;
		}
	}
}

@media only screen and (max-width: 898px) {

	.expertise {
		.container {
			justify-content: center;
			align-items: center;

			.cut {
				border-bottom: none;
				border-right: none;
			}

			.cut:first-child {
				border-right: 1px solid #EBEBEB;
			}
		}
	}
}


@media only screen and (max-width: 604px) {

	.expertise {
		.container {
			.cut:first-child {
				border-right: none;
			}
		}
	}
}