@import "vars.scss";


ul li {
	list-style: none;
}

footer {
	background: url(../images/footer-bg.png);
	padding: 70px 0 72px 0;
	background-size: cover;
	color: #fff;

		.footer-container {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;

			.tajam {
				.lit-jam {
					display: flex;
					align-items: center;



					h4 {
						font-size: 30px;
						font-family: Roboto Thin, sans-serif;
						color: $taj_color;
						font-weight: normal;
						margin-left: 11px;
					}
				}

				.lorem-text {
					p {
						line-height: 1.5;
						font-family: Roboto Lt, sans-serif;
						font-size: 14px;
						margin-top: 0px;
					}
				}
			}

			.studio {
				margin-left: 37px;
				margin-right: 60px;
				h4 {
					font-family: $taj_ff-rb;
					font-size: 15px;
					margin-bottom: 30px;
				}

				.locale, .phone {
					display: flex;
					align-items: center;
					font-family: Roboto Lt, sans-serif;
					font-size: 14px;

					.fas {
						margin-right: 6px;
						font-size: 18px;
					}

				}
			}

			.touch {

				h4 {
					font-family: $taj_ff-rb;
					font-size: 15px;
					margin-bottom: 30px;
					margin-top: 0px;
				}

				.newsletter {
					display: flex;
					input[type=button] {
						font-family: Roboto Lt, sans-serif;
						background: none;
						padding: 16px 15px;
						font-size: 14px;
						color: #fff;
						border: 1px solid #9E98B0;
						cursor: pointer;
						height: 45px;
						margin-right: 10px;

					}

					button {
						width: 70px;
						height: 45px;
						background: url(../images/rect.png);
						border: none;
						cursor: pointer;
					}
				}

				.icons-net {
					display: flex;
					margin-top: 27px;
					span {
						width: 35px;
						height: 35px;
						border-radius: 50%;
						border: 1px solid #fff;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 8px;
						cursor: pointer;
						transition: .4s;
					}

					span:last-child {
						margin-right: 0px;
						
					}

					span:hover {
						background: #fff;
						color: #000;
						transition: .4s;
					}
				}
			}
		}

		.below-menu {
			margin-top: 70px;
			display: flex;
			justify-content: space-around;
			font-family: $taj_ff-rb;
			font-size: 14px;

			ul {
				padding-left: 0px;
				display: flex;

				li {
					margin-right: 35px;
					a {
						color: #fff;
					}
				}

				li:last-child {
					margin-right: 0px;
				}
			}
		}

}


.locale .fas {
	margin-bottom: 14px;
}

@media only screen and (max-width: 911px) {
	.footer-container {
		flex-direction: column;
		align-items: center;		
	}
}



@media only screen and (max-width: 635px) {
	.below-menu {
		flex-direction: column;
		align-items: center;
	}
}

