* {
  padding: 0;
  margin: 0; }
  * ul li {
    list-style: none; }

#wrapper {
  overflow: hidden;
  background: #000;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #333333; }
  #wrapper .layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: #fff;
    width: 720px; }
    #wrapper .layout header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: flex;
      -ms-flex-pack: flex;
      justify-content: flex;
      margin-top: 16px; }
      #wrapper .layout header .name-general {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #wrapper .layout header .name-general .name {
          margin-bottom: 8px;
          text-align: left;
          width: 300px; }
          #wrapper .layout header .name-general .name h3 {
            font-size: 16px;
            margin-bottom: 9px; }
          #wrapper .layout header .name-general .name p {
            color: #808080;
            font-size: 12px; }
        #wrapper .layout header .name-general .discription {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #wrapper .layout header .name-general .discription img {
            position: absolute;
            left: 11.5%;
            z-index: 1;
            top: 2%; }
          #wrapper .layout header .name-general .discription .disc-text {
            padding: 9px 15px 9px 45px;
            border-radius: 4px;
            border: 1px solid #D1CBC0;
            background: #FFFBC7; }
            #wrapper .layout header .name-general .discription .disc-text p {
              font-size: 14px;
              line-height: 1.5; }
  #wrapper .services {
    font-size: 13px;
    margin-top: 14px; }
    #wrapper .services .text-head {
      text-align: right;
      padding-right: 33px; }
    #wrapper .services .content-box {
      border-top: 1px solid #CDCDCD;
      border-bottom: 1px solid #CDCDCD;
      padding: 15px 0; }
      #wrapper .services .content-box .container {
        margin-bottom: 2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        #wrapper .services .content-box .container .green-box, #wrapper .services .content-box .container .blue-box {
          position: relative;
          width: 218px; }
          #wrapper .services .content-box .container .green-box .green, #wrapper .services .content-box .container .blue-box .green {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #9AE298;
            z-index: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px; }
          #wrapper .services .content-box .container .green-box .blue, #wrapper .services .content-box .container .blue-box .blue {
            position: absolute;
            width: 53px;
            height: 100%;
            background: #91E3F9;
            z-index: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px; }
          #wrapper .services .content-box .container .green-box .blue-second, #wrapper .services .content-box .container .blue-box .blue-second {
            position: absolute;
            width: 35px;
            height: 100%;
            background: #91E3F9;
            z-index: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px; }
          #wrapper .services .content-box .container .green-box .text, #wrapper .services .content-box .container .blue-box .text {
            position: relative;
            z-index: 999;
            padding: 6px 6px 5px 6px; }
        #wrapper .services .content-box .container .number {
          padding-right: 43px;
          font-weight: bold; }
      #wrapper .services .content-box .container:last-child {
        margin-bottom: 0px; }
    #wrapper .services .all {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px; }
      #wrapper .services .all .all-number {
        padding-right: 43px; }

.within {
  border-left: 1px solid #cdcdcd; }

main {
  width: 720px;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  main .last-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main .last-comment .last {
      margin-right: 123px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      main .last-comment .last h4 {
        font-size: 16px; }
      main .last-comment .last a {
        color: #0077B1;
        margin-left: 10px; }
    main .last-comment .likes ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      main .last-comment .likes ul li {
        background: url(../images/heart.png) no-repeat;
        background-position: 0px 1px;
        padding-left: 15px;
        margin-right: 21px;
        font-size: 12px; }
      main .last-comment .likes ul li:nth-child(2) {
        background: url(../images/comment.png) no-repeat;
        margin-right: 0px;
        background-position: 0px 1px; }
  main .comments {
    margin-top: 16px; }
    main .comments .sumyil-comment {
      width: 450px; }
      main .comments .sumyil-comment .dates {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        main .comments .sumyil-comment .dates h4 {
          font-size: 14px;
          margin-right: 9px; }
        main .comments .sumyil-comment .dates p {
          font-size: 11px;
          color: #808080; }
      main .comments .sumyil-comment .comment-text {
        margin-top: 12px;
        background: #EFFBFF;
        padding: 18px 20px 13px 20px;
        border: 1px solid #D0D0D0; }

footer {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 29px 0px 34px 0px;
  background: #F2F2F2; }
  footer input[type=button] {
    font-family: PT Sans, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 58px;
    border-radius: 100px;
    background: #FFD928;
    border: none;
    cursor: pointer; }
  footer textarea {
    padding: 10px;
    font-family: PT Sans, sans-serif;
    margin-bottom: 23px;
    width: 438px;
    height: 54px;
    border: 1px solid #AAAAAA;
    border-radius: 4px; }

.com-text {
  margin-top: 12px;
  background: #EFFBFF;
  border: 1px solid #D0D0D0;
  padding: 18px 20px 13px 20px;
  width: 408px;
  -webkit-animation: Anim 1s;
  animation: Anim 1s; }

@media only screen and (max-width: 736px) {
  .layout {
    width: 100%; } }

@media only screen and (max-width: 571px) {
  .discription img {
    margin-right: 20px; }
  #wrapper .layout header .name-general .discription img {
    position: relative; }
  main {
    width: 100%; } }

@media only screen and (max-width: 440px) {
  #wrapper .layout header .name-general .discription img {
    margin-right: 60px; } }

@media only screen and (max-width: 476px) {
  main .last-comment .last {
    text-align: center;
    margin-right: 5px; }
  main .comments .sumyil-comment {
    width: 100%; }
    main .comments .sumyil-comment .comment-text {
      width: 280px; }
  .com-text {
    width: 280px; }
  footer textarea {
    width: 100%;
    padding-right: 0px; }
  footer input[type=button] {
    padding-left: 30px;
    padding-right: 30px; } }

@media only screen and (max-width: 361px) {
  .last-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .last-comment .last {
      margin-right: 0px; }
    .last-comment .likes {
      margin-top: 10px; } }

@media only screen and (max-width: 383px) {
  .services .all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #wrapper .services .all .all-number {
    padding-right: 0px;
    font-size: 20px; } }

@media only screen and (max-width: 383px) {
  #wrapper .services .content-box .container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #wrapper .services .content-box {
    width: 100%; } }

@-webkit-keyframes Anim {
  from {
    opacity: .3; }
  to {
    opacity: 1; } }

@keyframes Anim {
  from {
    opacity: .3; }
  to {
    opacity: 1; } }
