body {

	font-family: Arial, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	 background: linear-gradient(to top,#3f2b96, #a8c0ff);
}


.box {
	padding: 30px;
	border: 1px solid #000;
	border-radius: 6px;
	margin: 10px 0 10px 0;
	width: 400px;
	background: #d8d8d8;
}

input[type = button] {
	background: #000;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 6px;
	padding: 8px;
	cursor: pointer;
	transition: .4s;
}

input[type = button]:hover {
	background: #fff;
	color: #000;
	transition: .4s;
}


#green {
	line-height: 1.5;
}