.comments {
  background: url(../images/comments-bg.png);
  padding: 70px 0;
  color: #fff;
  font-family: "Playfair Display", sans-serif;
  background-size: cover;
  width: 100%; }
  .comments .com-slider {
    text-align: center;
    position: relative;
    display: none;
    -webkit-animation: Anima 1s;
    animation: Anima 1s; }
    .comments .com-slider h3 {
      font-size: 100px;
      margin-bottom: 0px;
      margin-top: 0px; }
    .comments .com-slider p {
      margin-top: 0px;
      font-size: 16px;
      line-height: 1.5; }
    .comments .com-slider h4 {
      font-size: 14px;
      font-family: Roboto Bk, sans-serif;
      margin-top: 53px; }
    .comments .com-slider .pr {
      margin-top: 13px; }
      .comments .com-slider .pr p {
        font-size: 13px;
        font-family: Roboto Lt, sans-serif; }
  .comments .pusher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px; }
    .comments .pusher button {
      background: none;
      border: none; }
    .comments .pusher span {
      width: 70px;
      height: 70px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
      .comments .pusher span img {
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        vertical-align: middle;
        cursor: pointer;
        width: 45px;
        height: 45px; }
      .comments .pusher span img:last-child {
        margin-right: 0px; }
      .comments .pusher span img:hover {
        width: 70px;
        height: 70px; }
    .comments .pusher .activekolo {
      width: 70px;
      height: 70px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      margin-right: 10px; }

.next {
  margin-left: 0px; }

.prev {
  margin-right: 25px; }

.prev, .next {
  margin-top: 20px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: .4;
  cursor: pointer; }

@-webkit-keyframes slide {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes slide {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@-webkit-keyframes Anima {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform-origin: right;
    transform-origin: right; } }

@keyframes Anima {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform-origin: right;
    transform-origin: right; } }
