main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  main .main-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 70px 0; }
    main .main-story .story-text {
      margin-left: 100px; }
      main .main-story .story-text h3 {
        color: #413d4b;
        font-family: "Playfair Display", sans-serif;
        font-size: 22px; }
      main .main-story .story-text p {
        color: #413d4b;
        font-size: 14px;
        line-height: 1.5;
        font-family: Roboto Lt, sans-serif;
        margin-top: 20px; }
      main .main-story .story-text input[type=button] {
        border: 1px solid #00e0d0;
        border-radius: 2px;
        font-size: 16px;
        font-family: Roboto, sans-serif;
        background: none;
        color: #00e0d0;
        padding: 14px 15px;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 31px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        font-weight: bold; }
      main .main-story .story-text input[type=button]:hover {
        background: #00e0d0;
        color: #fff;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
  main .about-watch {
    background: url(../images/div-watch_bg.png);
    color: #fff;
    font-family: Roboto Bk, sans-serif;
    font-size: 16px;
    padding: 202px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    main .about-watch .btn-watch button {
      margin-bottom: 34px;
      cursor: pointer;
      background: none;
      border: none; }

@media only screen and (max-width: 777px) {
  main .main-story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .main-story .story-text {
      margin-left: 0px; } }

@media only screen and (max-width: 555px) {
  main .main-story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .main-story .story-text {
      text-align: center; } }
