* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #384E80;
}

body {
  font-size: 18px;
  font-family: Brutal Type Light, sans-serif;
}

.number {
  color: #384E80;
  width: 100%;
}

.phone {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 201px;
}

.ph {
  font-size: 24px;
}

.click img {
  margin-left: 9px;
}

.icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.icons img {
  margin-right: 201px;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.icons .img {
  margin-top: 20px;
}

.img-last {
  display: none;
}

header {
  width: 100%;
  color: #384E80;
  font-weight: bold;
}

ul#coolMenu {
  background: url(../images/nav-bg.png);
  width: 100%;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  position: relative;
}

.header ul li {
  display: inline-block;
  padding: 20px 60px 20px 90px;
}

.header ul li a {
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.header ul li a:hover {
  color: #28AAE2;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

header ul li:hover ul.menu {
  display: block;
}

ul.menu {
  display: none;
  position: absolute;
  width: 220px;
  margin-top: 20px;
  margin-left: -100px;
  background: url(../images/nav-bg.png);
}

ul.menu li {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.logo {
  position: absolute;
  margin-top: -145px;
  margin-left: -180px;
  padding: 50px 100px;
  background: url(../images/lightshine_logo.png);
  width: 300px;
}

.mobile button:hover {
  background: #28AAE2;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  background-image: url(../images/phone-tiny.png);
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.header {
  background: url(../images/header-bg.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.article-header {
  text-align: center;
  margin-top: 30px;
}

.article-header h1, .article-header h2, .article-header button {
  color: #fff;
}

.article-header h1 {
  font-size: 90px;
}

.article-header h2 {
  font-size: 36px;
  margin-top: 20px;
}

.article-header button {
  padding: 20px 30px 22px 30px;
  background: none;
  border-radius: 3px;
  border: 1px solid #fff;
  font-size: 20px;
  margin-top: 70px;
  cursor: pointer;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.article-header button:hover {
  background: #fff;
  color: #384E80;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../images/pomb-down.png);
  background-repeat: no-repeat;
  background: #e6f1fa;
  overflow: hidden;
  margin-bottom: 0px;
}

.main-photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../images/blue-line.png) no-repeat;
}

.container {
  width: 1460px;
  padding: 30px 0;
}

.box-main {
  padding-bottom: 30px;
}

.box img:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.box img {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.first {
  margin-right: 30px;
}

.main-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1366px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 35px 0;
}

.main-article .main-text {
  margin-bottom: 25px;
}

.main-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 50px;
  background: url(../images/first_main-bg.png);
}

.main-text ul li span {
  color: #000;
}

.main-text ul li {
  color: #414f7e;
}

.main-article img {
  margin-top: 60px;
}

.general {
  margin-left: 10%;
}

.box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#box-left {
  width: 80px;
}

.mobile-none {
  display: none;
}

.main-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
}

.tab {
  background: url(../images/tabs_bg-1.png) no-repeat;
  background-position: 18px 10px;
  padding: 170px 0 0 0;
  margin-bottom: 10px;
}

.tab-bg {
  padding-top: 250px;
}

button.mbl:hover, button.tiny:hover {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: #28AAE2;
}

.tab p {
  background: #fff;
  text-align: left;
  margin-left: -30px;
}

.tab .arend {
  margin-left: -15px;
}

.tab .prod {
  margin-left: -26px;
}

.tab img {
  padding-bottom: 10px;
  cursor: pointer;
}

.menusub {
  position: absolute;
  bottom: 20%;
}

.mobile-version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Brutal Type Light, sans-serif;
  background: url(../images/opacity-logo.png) no-repeat;
  background-position: 50% 20%;
}

.mobile-version button {
  color: #fff;
  background: #28AAE2;
  padding: 51px 40px 14px 40px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  transition: .6s;
}

.mobile-version button.b1 {
  background-image: url(../images/house.png);
  background-repeat: no-repeat;
  background-position: 65px 10px;
}

.mobile-version button.b1:hover {
  background: #384E80;
  background-image: url(../images/house.png);
  background-repeat: no-repeat;
  background-position: 65px 10px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.mobile-version button.b2 {
  background-image: url(../images/window.png);
  background-repeat: no-repeat;
  background-position: 75px 10px;
}

.mobile-version button.b2:hover {
  background: #384E80;
  background-image: url(../images/window.png);
  background-repeat: no-repeat;
  background-position: 65px 10px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.mobile-version button.b3 {
  background-image: url(../images/rent.png);
  background-repeat: no-repeat;
  background-position: 62px 10px;
  margin-right: 0px;
}

.mobile-version button.b3:hover {
  background: #384E80;
  background-image: url(../images/rent.png);
  background-repeat: no-repeat;
  background-position: 65px 10px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.mobile-version h3 {
  font-size: 30px;
  margin: 27px 0;
  text-align: center;
}

.test p span {
  font-size: 18px;
  font-weight: bold;
  font-family: Brutal Type-ExtraLight, sans-serif;
}

.mobile-version h4 {
  font-family: Brutal Type-ExtraLight, sans-serif;
}

.mobile-version .gen {
  text-align: left;
}

.mobile-version .point {
  margin: 25px 0;
}

.mobile-box {
  background: url(../images/romb.png) no-repeat;
  padding-left: 50px;
  background-position: 10px 3px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.general-box {
  text-align: left;
}

.lil {
  margin-bottom: 30px;
}

.mobile-version .mbl {
  padding: 20px 30px 22px 30px;
  background: #384E80;
  border-radius: 3px;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  margin-bottom: 40px;
  margin-top: 20px;
}

.botto {
  text-align: center;
}

.mobile-2 .gen {
  margin-bottom: 25px;
}

.mobile-box span {
  font-family: Brutal Type-ExtraLight, sans-serif;
}

.mobile-3 .general-box {
  margin-top: 25px;
}

.mobile-img {
  margin: 50px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-img img {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.middle {
  margin: 0 10px 0 10px;
}

.mobile-2, .mobile-3 {
  display: none;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-content, .parag, .information {
  text-align: center;
  line-height: 1.5;
}

.information {
  margin-bottom: 26px;
  font-family: Brutal Type Light, sans-serif;
}

.inf {
  margin-top: 40px;
}

.parag {
  margin-top: 20px;
}

.box-right h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 24px;
  font-family: Brutal Type Light, sans-serif;
}

.test h4 {
  font-family: Brutal Type-ExtraLight, sans-serif;
}

.box-right {
  padding: 51px 0;
  padding-left: 77px;
}

.box-right.t1, .box-right.t2, .box-right.t3 {
  width: 1000px;
}

.box-right {
  background: url(../images/alots-lines.png) no-repeat;
  background-position: 52% 47%;
}

.box-right.t2 {
  background: url(../images/alots-lines-2.png) no-repeat;
  background-position: 50% 38%;
}

.box-right.t3 {
  background: url(../images/alots-lines-3.png) no-repeat;
  background-position: 64% 40%;
}

.box-right.t3 .shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.test {
  margin-top: 15px;
}

.test p {
  font-size: 14px;
  line-height: 1.5;
  font-family: Brutal Type Light, sans-serif;
}

.section-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 23px 65px 0 50px;
}

.btn {
  text-align: center;
}

.btn button {
  padding: 20px 30px 22px 30px;
  background: #384E80;
  border: none;
  border-radius: 3px;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  color: #fff;
}

.btn button:hover {
  color: #000;
  border: 1px solid #000;
  background: #fff;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.slider-text.active {
  display: block;
}

.slider-main {
  background: #384E80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  padding: 80px 0;
  padding-bottom: 130px;
  line-height: 1.5;
  font-family: Brutal Type-ExtraLight, sans-serif;
  background-image: url(../images/art-slider.png);
  background-repeat: no-repeat;
  background-position: 50% 50px;
  font-size: 24px;
  position: relative;
}

.slider-text {
  position: absolute;
  display: none;
}

.name {
  text-align: right;
}

.fas {
  margin-top: 100px;
  color: #8899C1;
  cursor: pointer;
  position: relative;
}

.fa-chevron-left {
  margin-right: 500px;
}

.fa-chevron-right {
  margin-left: 500px;
}

.card {
  width: 252px;
  height: 402px;
  background: url(../images/card-1.png) no-repeat;
  position: relative;
  margin-right: 29px;
}

.card-2 {
  background: url(../images/card-2.png) no-repeat;
}

.card-3 {
  background: url(../images/card-3.png) no-repeat;
}

.card-4 {
  background: url(../images/card-4.png) no-repeat;
  margin-right: 0px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #c3e0f8;
  padding-bottom: 40px;
}

.portfolio h3 {
  font-size: 30.14px;
  padding: 47px 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .fas {
  font-size: 24px;
}

.cards .fa-chevron-right {
  margin-left: 100px;
  margin-top: 170px;
}

.cards .fa-chevron-left {
  margin-right: 100px;
  margin-top: 170px;
}

.card .p {
  position: absolute;
  width: 100%;
  height: 53px;
  top: 89%;
  text-align: center;
  background: url(../images/bg-card.png) no-repeat;
  font-size: 24px;
  font-family: Brutal Type Light, sans-serif;
  margin-top: -9px;
  padding-top: 7px;
}

footer {
  background: #384E81;
  background-repeat: no-repeat;
  background-position: -160px 0;
  background-image: url(../images/footer-bg.png);
  padding: 424px 0 37px 0;
  font-family: Brutal Type-ExtraLight, sans-serif;
  overflow: hidden;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.mobile-footer {
  display: none;
}

.footer ul {
  background: none;
  display: block;
}

.footer ul li {
  list-style: none;
}

.footer-tab {
  background: #fff;
  padding: 37px 41px 41px 46px;
  text-align: center;
  font-family: Brutal Type Light, sans-serif;
  line-height: 1.5;
  margin-left: 125px;
  margin-right: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.footer-tab h3 {
  color: #000;
  font-size: 20px;
}

.footer-tab input {
  border: 2px solid #888888;
  padding: 22px 19px 20px 19px;
  font-size: 18px;
  font-family: Brutal Type-ExtraLight, sans-serif;
  border-radius: 3px;
  margin-top: 28px;
  color: #888888;
}

.footer-tab button {
  margin-top: 34px;
  padding: 20px 30px 22px 30px;
  background: #384E80;
  border: none;
  border-radius: 3px;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  color: #fff;
}

.footer-tab button:hover {
  color: #000;
  border: 1px solid #000;
  background: #fff;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.kh {
  text-align: right;
}

.footer-block {
  margin-bottom: 18px;
}

.footer-box ul li ul {
  margin: 0;
  margin-left: 11px;
}

.footer-box ul {
  line-height: 1.5;
  margin-top: 33px;
}

.bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bullet-first h3 {
  margin-bottom: 25px;
}

.bullet-first {
  display: none;
  color: #000;
  font-size: 20px;
  font-family: Brutal Type Light, sans-serif;
  background: #fff;
  text-align: center;
  position: absolute;
  bottom: 110%;
  padding: 30px 66px 0 66px;
  left: 33%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.mobile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submenu, .mobile, .bullet-img {
  display: none;
}

footer a {
  color: #fff;
}

@media only screen and (max-width: 1366px) {
  .phone {
    margin-right: 5%;
  }
  .fifty {
    width: 49.44%;
  }
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first {
    margin-right: 0.66%;
  }
  .offices {
    width: 56.5%;
  }
  .oponents {
    width: 42.4%;
  }
  .cards .fa-chevron-left {
    margin-right: 5%;
  }
  .cards .fa-chevron-right {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1172px) {
  .slider-main {
    font-size: 18px;
  }
  .box-right {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 1142px) {
  .cards .fa-chevron-right, .cards .fa-chevron-left {
    display: none;
  }
}

@media only screen and (max-width: 1112px) {
  .cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .portfolio {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .card-1, .card-2 {
    margin-bottom: 29px;
  }
}

@media only screen and (max-width: 1100px) {
  .card-3 {
    margin-right: 29px;
  }
  .icons img {
    margin-right: 100px;
  }
}

/*@media only screen and (max-width: 830px) {
		.card-3, .card-1{
		margin-right: 29px;
	}
}

@media only screen and (max-width: 579px) {
		.card-3, .card-1, .card-2, .card-4{
		margin-right: 0px;
	}
}*/
@media only screen and (max-width: 1025px) {
  .main-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
  }
  .main-article img {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 1078px) {
  .container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .offices {
    width: 95%;
    margin-bottom: 29px;
  }
  .oponents {
    width: 95%;
  }
  .fifty {
    width: 95%;
  }
  .flats {
    margin-bottom: 29px;
  }
  .box-left, .tab-content {
    display: none;
  }
  .mobile-none {
    display: block;
  }
}

@media only screen and (max-width: 1007px) {
  .article-header {
    margin-top: 0px;
  }
  .slider-main {
    font-size: 18px;
    background-position: 50% 10px;
  }
  .slider-main .fa-chevron-left {
    margin-right: 5%;
    margin-top: 50px;
  }
  header, .number, .article-header button {
    display: none;
  }
  .img-last {
    display: block;
  }
  .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    margin-left: 180px;
  }
  .submenu .btn-1 {
    background-image: url(../images/centre.png);
    background-repeat: no-repeat;
    background-position: 55px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .submenu a.btn-1:hover {
    background: #384E80;
    background-image: url(../images/centre.png);
    background-repeat: no-repeat;
    background-position: 55px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .submenu a.btn-2 {
    background-image: url(../images/services.png);
    background-repeat: no-repeat;
    background-position: 45px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .submenu a.btn-2:hover {
    background: #384E80;
    background-image: url(../images/services.png);
    background-repeat: no-repeat;
    background-position: 45px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .submenu .btn-3 {
    background-image: url(../images/team.png);
    background-repeat: no-repeat;
    background-position: 72px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    height: 100px;
  }
  .submenu a.btn-3:hover {
    background: #384E80;
    background-image: url(../images/team.png);
    background-repeat: no-repeat;
    background-position: 72px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .submenu .btn-4 {
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-position: 55px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .submenu a.btn-4:hover {
    background: #384E80;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-position: 55px 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
  }
  .submenu a {
    color: #fff;
    padding: 50px 40px 14px 40px;
    margin-right: 10px;
    font-family: Brutal Type Light, sans-serif;
    background: #28AAE2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 100px;
  }
  .article-header {
    margin-bottom: 0px;
  }
  .article-header h1 {
    font-size: 60px;
  }
  .article-header h2 {
    font-size: 30px;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .mobile button {
    padding: 15px 34px 15px 80px;
    background: #384E80;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    background-image: url(../images/phone-tiny.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
    background-position: 30px 25px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  .mobile img {
    margin-top: 20px;
  }
  .mobile {
    background: url(../images/lightgroove.png) no-repeat;
  }
}

@media only screen and (max-width: 578px) {
  .card-3 {
    margin-bottom: 29px;
  }
}

@media only screen and (max-width: 857px) {
  .card-4, .card-2 {
    margin-right: 29px;
  }
}

@media only screen and (max-width: 896px) {
  .slider-main {
    background-image: url(../images/kavichki.png);
    background-repeat: no-repeat;
    background-position: 50% 10px;
  }
  .icons img {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 700px) {
  .offices {
    width: 100%;
  }
  .oponents {
    width: 100%;
  }
  .fifty {
    width: 100%;
  }
}

@media only screen and (max-width: 637px) {
  .article-header h1 {
    font-size: 50px;
  }
  .article-header h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer {
    padding-top: 50px;
  }
  .footer-box {
    color: #000;
    margin-bottom: 20px;
  }
  .footer-box li a {
    color: #000;
  }
}

@media only screen and (max-width: 629px) {
  .submenu a {
    color: #fff;
    padding: 40px 20px 14px 30px;
    margin-right: 6px;
  }
  .submenu .btn-1 {
    background-position: 45px 10px;
  }
  .submenu .btn-2 {
    background-position: 38px 8px;
  }
  .submenu .btn-3 {
    background-position: 60px 10px;
  }
  .submenu .btn-4 {
    background-position: 45px 10px;
  }
}

@media only screen and (max-width: 562px) {
  .slider-main {
    font-size: 16px;
  }
  .slider-main {
    background-image: url(../images/540-kav.png);
    background-repeat: no-repeat;
    background-position: 50% 0px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    background: url(../images/small-city.png) no-repeat;
    background-position: 50% 460px;
  }
  .footer {
    display: none;
  }
  .mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Brutal Type Light, sans-serif;
  }
  .peep {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer-container {
    color: #fff;
    margin-top: 250px;
  }
  .peep-text {
    font-size: 14px;
  }
  .input-mobile input {
    border: 2px solid #888888;
    padding: 22px 120px 20px 19px;
    font-size: 18px;
    font-family: Brutal Type-ExtraLight, sans-serif;
    border-radius: 6px;
    margin-top: 20px;
    color: #888888;
  }
  .input-mobile button {
    margin-top: 24px;
    padding: 20px 30px 22px 30px;
    background: #384E80;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    color: #fff;
  }
  .input-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    margin: 25px 0 47px 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-menu ul li {
    list-style: none;
    border-right: 1px solid #fff;
    padding: 0 20px;
  }
  .along {
    font-size: 12px;
  }
  .mobile-footer .footer-block {
    text-align: right;
  }
  .footer-below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul li.footer-none {
    border-right: none;
  }
  .peep img {
    margin-left: 10%;
  }
  .footer-below .map img {
    width: 65%;
  }
}

@media only screen and (max-width: 546px) {
  .along {
    font-size: 10px;
  }
}

@media only screen and (max-width: 525px) {
  .footer-below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .along {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .map {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 493px) {
  .submenu {
    margin-top: 80px;
  }
  .submenu a.btn-3 {
    padding: 45px 15px 10px 25px;
    background-position: 52px 10px;
  }
}

@media only screen and (max-width: 452px) {
  .submenu a.btn-3 {
    background-position: 45px 10px;
  }
}

@media only screen and (max-width: 511px) {
  .mobile-version button {
    padding: 51px 25px 14px 25px;
  }
}

@media only screen and (max-width: 421px) {
  .mobile-version button {
    padding: 51px 20px 14px 20px;
    font-size: 16px;
  }
  .article-header h1 {
    font-size: 30px;
  }
  .article-header h2 {
    font-size: 18px;
  }
  .article-header {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 434px) {
  .footer-menu ul {
    font-size: 12px;
  }
  .peep-text {
    font-size: 12px;
  }
  .peep img {
    margin-left: 0%;
  }
  .peep {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .along {
    font-size: 10px;
  }
  .mobile button {
    padding: 12px 25px 12px 50px;
    font-size: 18px;
    background-position: 12px 20px;
  }
  .submenu {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 415px) {
  .along {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background: #384E81;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .submenu a {
    font-size: 12px;
    padding-top: 20px;
  }
  .submenu a.btn-1 {
    background-position: 35px 5px;
  }
  .submenu a.btn-2 {
    background-position: 20px 5px;
  }
  .submenu a.btn-3 {
    background-position: 100px 20px;
  }
  .submenu a.btn-4 {
    background-position: 35px 10px;
  }
  .map {
    width: 100%;
  }
}

@media only screen and (max-width: 419px) {
  .mobile img {
    width: 40%;
    height: 23%;
  }
  .mobile button {
    background-position: 12px 10px;
  }
  /*.submenu {
		margin-top: 40%;
	}*/
}

@media only screen and (max-width: 421px) {
  .submenu a {
    padding: 40px 13px 14px 15px;
    margin-right: 3px;
  }
}

@media only screen and (max-width: 355px) {
  .submenu a {
    padding: 25px 2px 2px 15px;
  }
  .submenu a.btn-1 {
    height: 70%;
  }
}

@media only screen and (max-width: 379px) {
  .input-mobile input {
    padding: 22px 80px 20px 19px;
    margin-top: 15px;
  }
  .input-mobile h3 {
    font-size: 18px;
  }
  /*.submenu {
		margin-top: 40%;
	}*/
  .submenu a {
    padding: 40px 7px 7px 15px;
  }
}

@media only screen and (max-width: 933px) {
  .submenu {
    margin-left: 150px;
  }
}

@media only screen and (max-width: 855px) {
  .submenu {
    margin-left: 120px;
  }
}

@media only screen and (max-width: 788px) {
  .submenu {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 733px) {
  .submenu {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 554px) {
  .submenu {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 451px) {
  .submenu {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 612px) {
  .last-img {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 420px) {
  .middle {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 511px) {
  .mobile-version button.b3 {
    background-position: 45px 10px;
  }
  .mobile-version button.b2 {
    background-position: 60px 10px;
  }
  .mobile-version button.b1 {
    background-position: 50px 10px;
  }
}

@media only screen and (max-width: 421px) {
  .mobile-version button.b3 {
    background-position: 40px 10px;
  }
  .mobile-version button.b2 {
    background-position: 45px 10px;
  }
  .mobile-version button.b1 {
    background-position: 40px 10px;
  }
}

@media only screen and (max-width: 460px) {
  .submenu .btn-1 {
    background-position: 40px 10px;
  }
  .submenu a.btn-3 {
    background-image: url(../images/team.png);
    background-repeat: no-repeat;
    background-position: 45px 10px;
  }
}

@media only screen and (max-width: 745px) {
  .card-2, .card-4 {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 490px) {
  .card-1, .card-3 {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 390px) {
  .submenu a.btn-1 {
    background-position: 30px 7px;
  }
  .submenu a.btn-3 {
    background-position: 45px 7px;
  }
}

@media only screen and (max-width: 1050px) {
  .fa-chevron-left {
    margin-right: 40%;
  }
  .fa-chevron-right {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 1006px) {
  .fa-chevron-left {
    margin-right: 70%;
  }
  .fa-chevron-right {
    margin-left: 70%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 660px) {
  .fa-chevron-left {
    margin-right: 90%;
  }
  .fa-chevron-right {
    margin-left: 87%;
  }
}

@media only screen and (max-width: 450px) {
  .slider-main {
    font-size: 12px;
    background-position: 60% 10px;
  }
}

@media only screen and (max-width: 493px) {
  .submenu a.btn-3 {
    background-position: 55px 6px;
  }
}

@media only screen and (max-width: 470px) {
  .submenu a.btn-3 {
    background-position: 45px 6px;
  }
}

@media only screen and (max-width: 447px) {
  .submenu a.btn-3 {
    background-position: 35px 6px;
  }
}

@media only screen and (max-width: 629px) {
  .submenu a.btn-2 {
    background-position: 45px 3px;
  }
}

@media only screen and (max-width: 390px) {
  .submenu a.btn-2 {
    background-position: 25px 3px;
  }
}

@media only screen and (max-width: 344px) {
  .submenu a {
    width: 80%;
  }
}

@media only screen and (max-width: 404px) {
  .submenu a.btn-2 {
    background-position: 30px 4px;
  }
  .submenu a.btn-3 {
    background-position: 50px 3px;
  }
}

@media only screen and (max-width: 339px) {
  .submenu a {
    width: 80%;
  }
  .submenu a.btn-1 {
    background-position: 20px 3px;
  }
  .submenu a.btn-2 {
    background-position: 16px 3px;
  }
  .submenu a.btn-3 {
    background-position: 25px 4px;
  }
  .submenu a.btn-4 {
    background-position: 25px 6px;
  }
}

@media only screen and (max-width: 522px) {
  .submenu a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 355px) {
  .submenu a.btn-1 {
    padding-top: 60px;
  }
  .submenu a {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media only screen and (max-width: 344px) {
  .submenu a.btn-1 {
    padding-top: 75px;
  }
}

/*@media only screen and (max-width: 493px) {
	.submenu button.btn-1 {
		padding-bottom: 5px;
		padding-top: 30px;
	}
}

@media only screen and (max-width: 419px) {
	.submenu button.btn-1 {
		padding-bottom: 10px;
		padding-top: 40px;
	}

	.submenu button.btn-3 {
		padding-bottom: 10px;
		padding-top: 40px;
	}
}*/
/*@media only screen and (max-width: 390px) {
	.submenu button.btn-2 {
		padding-top: 50px;
	}

	.submenu button.btn-4 {
		padding-top: 50px;
	}
}*/
/*@media only screen and (max-width: 690px) {
	.submenu button.btn-2 {
		padding-top: 40%;
	}

	.submenu button.btn-4 {
		padding-top: 35%;
	}

	.submenu button.btn-3 {
		padding-top: 30%;
	}
}*/
