@media only screen and (max-width: 954px) {
  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .container {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      /*.box:nth-child(2) {
					margin-right: 0px;
				}*/ }
      main .container .box:last-child {
        margin-top: 30px; } }

@media only screen and (max-width: 922px) {
  main .container .box:nth-child(2) {
    margin-right: 0px; } }

@media only screen and (max-width: 640px) {
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    main .container .box:first-child {
      margin-right: 0px; }
    main .container .box:nth-child(2) {
      margin-top: 30px; } }

@media only screen and (max-width: 709px) {
  header .logo img {
    margin-right: 0px; } }

@media only screen and (max-width: 445px) {
  .date-info .name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .date-info .name h2 {
      margin-right: 0px; }
    .date-info .name .block {
      margin-top: 15px; } }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0 33px 0; }
  header .logo img {
    margin-right: 108px; }
  header .date-info .name {
    margin-bottom: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .date-info .name h2 {
      margin-right: 20px;
      font-size: 35px;
      font-family: Myriad Pro, sans-serif;
      color: #262626; }
    header .date-info .name .block {
      font-family: Helvetica Neue, sans-serif;
      font-size: 15px;
      color: #3B8EDE;
      padding: 9px 10px 8px 10px;
      border: 1px solid #3B8EDE;
      border-radius: 3px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    header .date-info .name .block:hover {
      background: #3B8EDE;
      color: #fff;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
  header .date-info .statis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .date-info .statis p {
      font-size: 17px;
      font-family: Proxima Nova, sans-serif;
      color: #3d4044;
      margin-right: 29px; }
    header .date-info .statis p:last-child {
      margin-right: 0px; }
  header .date-info .date {
    margin-top: 20px;
    font-family: Tahoma, sans-serif;
    color: #262626;
    font-size: 17px; }
    header .date-info .date input {
      font-family: Helvetica Neue, sans-serif;
      font-size: 14px; }

main {
  -webkit-box-shadow: inset 5px 5px 6px rgba(154, 147, 140, 0.3);
  box-shadow: inset 5px 5px 6px rgba(154, 147, 140, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 70px 0 74px 0;
  background: #fafafa; }
  main .container {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main .container .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #fff;
      font-size: 17px;
      font-family: Proxima Nova, sans-serif;
      width: 292px;
      height: 292px;
      background: url(../images/photo-1.jpg) no-repeat;
      margin-right: 30px; }
      main .container .box .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        main .container .box .text p:first-child {
          margin-right: 59px; }
        main .container .box .text p:nth-child(2) {
          margin-right: 25px; }
        main .container .box .text p i {
          margin-right: 6px; }
      main .container .box .text:nth-child(2) {
        margin-top: 21px; }
        main .container .box .text:nth-child(2) p:first-child {
          margin-right: 26px; }
      main .container .box .text-end {
        margin: 29px 0 14px 0; }
    main .container .box:hover {
      opacity: .8;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      cursor: pointer; }
    main .container .box:nth-child(2) .text:first-child p:first-child {
      margin-right: 34px; }
    main .container .box:nth-child(2) .text:nth-child(2) p:first-child {
      margin-right: 25px; }
    main .container .box:nth-child(2) .text:nth-child(2) p:nth-child(2) {
      margin-right: 48px; }
    main .container .box:last-child {
      margin-right: 0px; }
    main .container .box:nth-child(2) {
      background: url(../images/photo-2.jpg) no-repeat; }
    main .container .box:nth-child(3) {
      background: url(../images/photo-3.jpg) no-repeat; }
  main .container:nth-child(2) .box:nth-child(1) {
    background: url(../images/photo-4.jpg) no-repeat; }
  main .container:nth-child(2) .box:nth-child(2) {
    background: url(../images/photo-5.jpg) no-repeat; }
    main .container:nth-child(2) .box:nth-child(2) .text p:first-child {
      margin-right: 59px; }
    main .container:nth-child(2) .box:nth-child(2) .text p:nth-child(2) {
      margin-right: 25px; }
    main .container:nth-child(2) .box:nth-child(2) .text:nth-child(2) p:first-child {
      margin-right: 26px; }
  main .container:nth-child(2) .box:nth-child(3) {
    background: url(../images/photo-6.jpg) no-repeat; }
  main .container:nth-child(3) {
    margin-bottom: 0px; }
    main .container:nth-child(3) .box:nth-child(1) {
      background: url(../images/photo-7.jpg) no-repeat; }
    main .container:nth-child(3) .box:nth-child(2) {
      background: url(../images/photo-8.jpg) no-repeat; }
    main .container:nth-child(3) .box:nth-child(3) {
      background: url(../images/photo-9.jpg) no-repeat; }

.content {
  -webkit-animation: 1s linear .5s Amin;
  animation: 1s linear .5s Amin; }
  .content .btn-load {
    margin-top: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content .btn-load input {
      cursor: pointer;
      font-family: Proxima Nova, sans-serif;
      font-size: 12px;
      padding: 9px 29px;
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      border: 1px solid #000;
      border-radius: 20px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    .content .btn-load input:hover {
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #fff;
      background: #000; }

#content-2 {
  margin-top: 44px;
  display: none; }
  #content-2 .btn-close {
    margin-top: 44px;
    text-align: center; }
    #content-2 .btn-close input {
      cursor: pointer;
      font-family: Proxima Nova, sans-serif;
      font-size: 12px;
      padding: 9px 29px;
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      border: 1px solid #000;
      border-radius: 20px;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    #content-2 .btn-close input:hover {
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      color: #fff;
      background: #000; }

@-webkit-keyframes Amin {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@keyframes Amin {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }
