.matchesMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

.matchesMain h2 {
    font-size: 2.5em;
}

.matchesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchBlock {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
    box-shadow: 0px 7px 12px 3px rgba(46, 50, 50, 0.98);
}

.matchBlock .matchTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.matchBlock .matchScore {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.matchBlock .matchDate {
    text-align: right;
    color: rgb(173, 157, 157);
}

.comment {
    padding: 10px;
    color: #fff;
    border: 1px solid #000;
    margin: 5px;
    border-radius: 10px;
    background: lightskyblue;
}