.works {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .works .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 70px; }
    .works .project h3 {
      font-size: 22px;
      color: #413d4b;
      font-family: "Playfair Display", sans-serif; }
    .works .project button {
      color: #413d4b;
      font-size: 14px;
      font-family: Roboto Lt, sans-serif;
      border: none;
      background: none;
      cursor: pointer; }
      .works .project button img {
        margin-left: 6px; }
  .works .container, .works .shadow-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .works .container .clr, .works .shadow-box .clr {
      width: 267px;
      height: 201px;
      background: #B6B6B6;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .works .container .clr:hover, .works .shadow-box .clr:hover {
      opacity: .6;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .works .container .clr:nth-child(2), .works .shadow-box .clr:nth-child(2) {
      background: #ACACAC; }
    .works .container .clr:nth-child(3), .works .shadow-box .clr:nth-child(3) {
      background: #A1A1A1; }
    .works .container .clr:nth-child(4), .works .shadow-box .clr:nth-child(4) {
      background: #8A8A8A; }
    .works .container .clr:nth-child(5), .works .shadow-box .clr:nth-child(5) {
      background: #B6B6B6; }
    .works .container .clr:nth-child(6), .works .shadow-box .clr:nth-child(6) {
      background: #A4A4A4; }
  .works .container:nth-child(2) .clr:nth-child(1), .works .shadow-box:nth-child(2) .clr:nth-child(1) {
    background: #A4A4A4; }
  .works .container:nth-child(2) .clr:nth-child(2), .works .shadow-box:nth-child(2) .clr:nth-child(2) {
    background: #B6B6B6; }
  .works .container:nth-child(2) .clr:nth-child(3), .works .shadow-box:nth-child(2) .clr:nth-child(3) {
    background: #8A8A8A; }
  .works .container:nth-child(2) .clr:nth-child(4), .works .shadow-box:nth-child(2) .clr:nth-child(4) {
    background: #A1A1A1; }
  .works .container:nth-child(2) .clr:nth-child(5), .works .shadow-box:nth-child(2) .clr:nth-child(5) {
    background: #ACACAC; }
  .works .container:nth-child(2) .clr:nth-child(6), .works .shadow-box:nth-child(2) .clr:nth-child(6) {
    background: #B6B6B6; }
  .works .load {
    text-align: center;
    width: 100%;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .works .load input[type=button] {
      border: 1px solid #00e0d0;
      border-radius: 2px;
      font-size: 16px;
      font-family: Roboto, sans-serif;
      background: none;
      color: #00e0d0;
      padding: 14px 15px;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      font-weight: bold; }
    .works .load input[type=button]:hover {
      background: #00e0d0;
      color: #fff;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .works .shadow-box {
    -webkit-animation: fade 1s;
    animation: fade 1s;
    margin-top: 0; }

#Clear {
  display: none; }

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%); } }

@keyframes fade {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%); } }

@-webkit-keyframes opas {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@keyframes opas {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

#box-right {
  display: none;
  text-align: center;
  -webkit-animation: opas 1.5s;
  animation: opas 1.5s; }

#box-right, #box-left {
  -webkit-animation: opas 1.5s;
  animation: opas 1.5s; }

#fade-right {
  color: #413d4b;
  font-size: 14px;
  font-family: Roboto Lt, sans-serif;
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 20px; }
  #fade-right i {
    margin-left: 6px; }

@media only screen and (max-width: 1550px) {
  .works .container, .works .shadow-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media only screen and (max-width: 360px) {
  .works .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }
